/* stylelint-disable no-invalid-position-at-import-rule */

/* Mixins */
@import "admin/dashicons.scss";

/* Mixins */
@import "partials/mixins/mixins";

/* Fonts */
@import "partials/fonts/fonts";

/* Variables */
@import "partials/variables/variables";

.wp-block-spacer .components-resizable-box__handle {
	display: none !important;
}

.your-spacer-class .block-editor-block-inspector {
	display: none !important;
}

.is-style-gl-s1,
.gl-s1 {
	height: var(--gb_space_1) !important;
}

.is-style-gl-s2,
.gl-s2 {
	height: var(--gb_space_2) !important;
}

.is-style-gl-s3,
.gl-s3 {
	height: var(--gb_space_3) !important;
}

.is-style-gl-s4,
.gl-s4 {
	height: var(--gb_space_4) !important;
}

.is-style-gl-s5,
.gl-s5 {
	height: var(--gb_space_5) !important;
}

.is-style-gl-s6,
.gl-s6 {
	height: var(--gb_space_6) !important;
}

.is-style-gl-s7,
.gl-s7 {
	height: var(--gb_space_7) !important;
}

.is-style-gl-s8,
.gl-s8 {
	height: var(--gb_space_8) !important;
}

.is-style-gl-s9,
.gl-s9 {
	height: var(--gb_space_9) !important;
}

.is-style-gl-s10,
.gl-s10 {
	height: var(--gb_space_10) !important;
}

.is-style-gl-s11,
.gl-s11 {
	height: var(--gb_space_11) !important;
}

.is-style-gl-s12,
.gl-s12 {
	height: var(--gb_space_12) !important;
}

.is-style-gl-s13,
.gl-s13 {
	height: var(--gb_space_13) !important;
}

.is-style-gl-s14,
.gl-s14 {
	height: var(--gb_space_14) !important;
}

.is-style-gl-s15,
.gl-s15 {
	height: var(--gb_space_15) !important;
}

.editor-styles-wrapper {
	font-family: Axiforma-Regular, Arial, sans-serif !important;
	font-size: var(--gb_font_size_5);
	color: var(--gb_body_color);
	line-height: 1.5;

	/* Editor style */

	@import "editor-static";

	/* Typography */

	@import "partials/typography/typography";

	/* Elements */

	@import "partials/elements/lists";
	@import "partials/elements/quotes";
	@import "partials/elements/tables";

	/* Media */

	@import "partials/media/media";

	/* Core */

	@import "partials/core/core";

	/* Blocks */

	@import "partials/wp-blocks/wp-blocks";

	/*  Vendor CSS Magnific popup */

	@import "vendors/magnific-popup.css";
}

/*  Vendor CSS Owl carousel */
// @import "vendors/owl.carousel.css";
// @import "vendors/owl.theme.default.css";

.acf-block-preview {
	/* site */
	@import "partials/site/site";

	/* Forms */
	@import "partials/forms/forms";

	/* Responsive */
	@import "partials/responsive/block-queries";
}

.components-tab-panel__tab-content {
	.acf-field-block-title,
	.acf-field-spacers {
		padding: 0px !important;

		.acf-label {
			display: none;
		}

		.acf-input {
			.acf-label {
				display: initial;
			}
		}
	}

	.acf-field {
		margin: 5px 10px !important;

		&.acf-field-spacers {
			margin: 5px !important;
		}
	}
}

.interface-interface-skeleton__sidebar {
	.acf-field-block-title,
	.acf-field-spacers {
		padding: 0px !important;

		.acf-label {
			display: none;
		}

		.acf-input {
			.acf-label {
				display: initial;
			}
		}
	}

	.acf-fields {
		&.acf-clone-fields {
			.description {
				padding: initial !important;
				border-top: initial;
				margin-top: 6px !important;
				margin-bottom: 5px !important;
			}
		}
	}

	.description {
		padding: 6px 20px 16px !important;
		margin-top: 0px !important;
		border-top: 1px solid #eeeeee;
	}
}
.acf-field-object[data-type="block_label"] {
	.acf-field-setting-name {
		display: none;
	}
}
.is-padding {
	select {
		margin-top: 28px !important;
	}
}
.acf-field-advance-form,
.acf-field-advance-video {
	padding: 0px !important;
	.acf-label {
		display: none;
	}
	.acf-input {
		.acf-label {
			display: initial;
		}
	}
}
.is-style-fill-boxed {
	.wp-block-button__link {
		border-radius: inherit;
	}
}
.is-style-outline-boxed {
	.wp-block-button__link {
		border: solid black;
		color: black;
		border-radius: inherit;
		background-color: transparent !important;
		background-image: none;
		color: black !important;
		border-width: 2px !important;
	}
}
