/****
*
* body
*
****/

.two-columns {
	display: flex;
	flex-wrap: wrap;

	.column {
		width: calc(50% - 16px);
		margin-right: 3.2rem;

		&:nth-child(2) {
			margin-right: 0;
		}
	}
}

.three-columns {

	.column {
		display: inline-block;
		width: calc(33.33% - 20px);
		margin-right: 25px;

		&:nth-child(3n + 3) {
			margin-right: 0;
		}
	}
}

/****
*
* Valign-wrapper Style
*
****/
.valign-wrapper {
	display: flex;
	align-items: center;
}

/****
*
* helper classes
*
****/

.center {
	text-align: center;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
	padding-right: 10px;
}

.center-align {
	margin: auto;
}

/****
*
* breadcrumbs
*
****/
#breadcrumbs {
	color: map-get($map: $base_colors, $key: breadcrumb-color);
	text-transform: uppercase;
	margin-bottom: 23px;

	@include font-size(1.4);

	span {

		@include font-size(1.8);
	}

	span.breadcrumb_last {

		@include font-size(1.4);

		font-weight: 500;
		margin-left: 10px;
	}

	a,
	&:visited {
		color: map-get($map: $base_colors, $key: breadcrumb-link-color);
		font-weight: 700;
		margin: 0 10px;
		border-bottom: 1px solid map-get($map: $base_colors, $key: breadcrumb-border-color);

		@include font-size(1.4);

		&:hover {
			border-bottom: 1px solid map-get($map: $base_colors, $key: breadcrumb-border-color-hover);
		}
	}
}

.single-post #breadcrumbs span span span span span span {
	color: map-get($map: $base_colors, $key: breadcrumb-span-color);
}

.single-post #breadcrumbs span span span span span span a {
	color: map-get($map: $base_colors, $key: breadcrumb-link-color);
}

.single-post #breadcrumbs {

	span.breadcrumb_last {
		display: none;
	}
}

/****
*
* buttons
*
****/

a.button,
a.button:visited,
span.button {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding: 16px 34px 18px;
	text-decoration: none;
	color: map-get($map: $colors, $key: white);
	border: 2px solid map-get($map: $colors, $key: white30);
	transition: all 0.5s ease-in-out;
	line-height: 1;

	@include font-size(2);

	margin-right: 15px;

	@include border-radius(100px);
	@include font(st, bold);

	cursor: pointer;

	&:last-child {
		margin-right: 0;
	}

	&:hover {
		background-color: map-get($map: $colors, $key: white);
		border-color: map-get($map: $colors, $key: white);
		color: map-get($map: $colors, $key: black);
	}

	&.big {
		padding: 25px 65px;
		font-size: 30px;
	}

	&.black {
		color: map-get($map: $colors, $key: black);
		border: 2px solid map-get($map: $colors, $key: black);

		&:hover {
			background-color: map-get($map: $colors, $key: black);
			color: map-get($map: $colors, $key: white);
		}
	}

	&.small {
		padding: 10px 25px 12px;
		font-size: 16px;
		border-width: 1px;
	}
}

a.wp-block-button__link,
a.wp-block-button__link:visited,
a.wp-block-button__link {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding: 11px 30px;
	text-decoration: none;
	color: map-get($map: $base_colors, $key: theme-btn-color);
	background-color: map-get($map: $base_colors, $key: theme-btn-bgcolor);
	border: 2px solid map-get($map: $base_colors, $key: theme-btn-border-color);
	transition: all 0.35s ease-in-out;
	margin-right: 9px;

	@include font(st, reg);
	@include font-size(1.6);
	@include border-radius(100px);

	&:hover {
		background-color: map-get($map: $base_colors, $key: theme-btn-bgcolor-hover);
		border: 2px solid map-get($map: $base_colors, $key: theme-btn-border-color-hover);
		color: map-get($map: $base_colors, $key: theme-btn-color-hover);
	}

	&.has-background {
		border: none;

		&:hover {
			border: none;
			color: unset;
		}
	}

	&.has-text-color.has-background {
		border: none;

		&:hover {
			border: none;
		}
	}
}

/****
*
* WordPress buttons
*
****/

a.wp-block-button__link,
a.wp-block-button__link:visited,
.wp-block-button__link {

	&:hover {
		// border: 2px solid map-get($map: $base_colors, $key: wp-btn-border-color);
		// color: map-get($map: $base_colors, $key: wp-btn-color);
		// background-color: map-get($map: $base_colors, $key: wp-btn-bgcolor);
	}
}

.wp-block-button.is-style-outline {

	a.wp-block-button__link,
	a.wp-block-button__link:visited {
		border: 2px solid map-get($map: $base_colors, $key: wp-outline-btn-border-color);

		&:hover {
			background-color: map-get($map: $base_colors, $key: wp-outline-btn-bgcolor);
			color: map-get($map: $base_colors, $key: wp-outline-btn-color);
		}

		&.has-text-color,
		&.has-background {

			&:hover {
				background-color: unset;
				color: unset;
			}
		}

		&.has-text-color.has-background {
			border: none;

			&:hover {
				border: none;
			}
		}
	}
}

.no-visible {
	visibility: hidden;
}

/****
*
* 404 page
*
****/
.not-found {
	text-align: center;
	padding: 50px 0;
}

.error,
.page-404-menu {
	text-align: center;

	width: 100%;

	.menu {
		margin: 0;
	}

	ul {
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	ul li {

		margin: 0 var(--mf_space_3);
		font-weight: 700;
		padding: 0;

		&::before {
			display: none;
		}

		a,
		a:visited {
			border-bottom: 0;
			@include font(st,med);

			&:hover {
				color: map-get($map: $colors, $key: red2);
			}
		}

		ul {
			display: none;
		}
	}
}

.form-404 {
	max-width: 420px;
	margin: auto;

	form {
		margin: 0;
		justify-content: space-between;



		input[type=search] {
			height: 40px;
		}

		input[type=submit]{
			margin: 0;
			height: 40px;
			padding-block: 0;
		}
	}

	p {
		margin-bottom: 2rem;
	}

	label {
		width: calc(100% - 150px);
		margin: 0;
	}
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.flex-between-start {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.flex-ctn,
.flexarea {
	display: flex;
	flex-wrap: wrap;
}

.align-start {
	align-items: flex-start;
}

.image-at-right {
	flex-direction: row-reverse;
}

.sb {
	justify-content: space-between;
}

.radius-full {
	border-radius: 50%;

	img {
		border-radius: 50%;
	}
}

.bgi-center {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.col-49 {
	width: 49.4%;
}

.article-tags {

	.tag {
		margin-right: 6px;
	}
}

.tag {
	padding: 5px 10px;
	font-size: 14px;
	text-transform: capitalize;
	background-color: map-get($map: $colors, $key: eblue);
	display: inline-block;
	border-radius: 100px;
	margin-bottom: 20px;

	@include font(st, sbold, weight);

	&.aqua {
		background-color: map-get($map: $colors, $key: aqua);
		color: map-get($map: $colors, $key: black);
	}
}

/**
*
* Background
*
*/
.reset-bg {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/**
*
* Helper Classess
*
*/
.section-head {

	h2 {
		margin-bottom: 0;
	}

	p {
		margin: 30px 0 0;
	}
}

.mb-70 {
	margin-bottom: 70px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-0 {
	margin-bottom: 0;
}

.ma-1200 {
	max-width: 1200px;
}


.bg-cover {
	background-repeat: no-repeat;
	background-position: center;
	background: cover;
}

.img-cover {

	img,
	video {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.red {
	color: map-get($map: $colors, $key: red);
}

.red-bg {
	background-color: map-get($map: $colors, $key: red);
}

.p-relative {
	position: relative;
}

.hide {
	display: none;
}

.image__slide {
    display: inline-block;
    margin-right: var(--mf_space_3);
    width: auto !important;
}

.swiper-wrapper {
	white-space: nowrap;
	line-height: 0.65;
}


.image__slide--img img {
	max-height: 440px;
	border-radius: 16px;
}


.design-tool-item {
	padding: var(--mf_space_5) 0;
	border-bottom: 1px solid var(--mf_ugray);

	&:last-of-type {
		border: 0;
	}
}

.design-tool-title {
	width: 38.3%;
	display: flex;
    flex-wrap: wrap;
	gap: var(--mf_space_3);
}

.design-tool-text {
	width: 57.7%;
}

.design-tool-icon {
    width: 40px;
	display: flex;
    align-items: center;
    justify-content: center;
}

.design-tool-inner-title {
    width: calc(100% - 94px);
}
