// Project Colors
$colors: (
	white: #f9f9f9,
	white30: rgba(255, 255, 255, 0.3),
	white50: rgba(255, 255, 255, 0.5),
	white60: rgba(255, 255, 255, 0.6),
	black: #0e0e0e,
	red: #b388dd,
	red2: #52247f,
	red15: rgba(#ff1d1d, 0.15),
	eblue: #323ff0,
	yellow: #ebfe00,
	bwhale: #fff,
	aqua: #00f0ff,
	purpleblue: #715bf7,
	black01: #01021c,
);

// Base Theme Colors (Extracted from project colors)
$base_colors: (
	//
	// Body
	selection-color: #fff,
	selection-bgcolor: #011240,
	//
	//
	// Captions
	caption-color: #999999,
	//
	//
	// Links
	link-color: #ffb703,
	link-border-color: #ffb703,
	link-color-hover: #219ebc,
	link-border-color-hover: #219ebc,
	//
	//
	// Lists Colors
	list-before-bgcolor: #ff1d1d,
	ol-list-before-color: #ff1d1d,
	//
	//
	// BlockQuote Colors
	blockquote-color: #0b090a,
	blockquote-border-color: #0b090a,
	quote-color: #0b090a,
	blockqoute-cite-color: #999999,
	//
	//
	// Tables Even Row Color
	table-border-color: #cccccc,
	table-head-border-color: #0b090a,
	table-foot-border-color: #cccccc,
	//
	//
	// Headings Colors
	headings-color: #0b090a,
	//
	//
	// Formatting Colors
	abbr-border-color: #0b090a,
	strong-color: #0b090a,
	underline-border-color: #0b090a,
	delete-color: #e74c3c,
	insert-color: #27ae60,
	insert-border-color: #27ae60,
	code-color: #ffffff,
	code-bgcolor: #0b090a,
	pre-color: #ffffff,
	pre-bgcolor: #0b090a,
	hr-bgcolor: #cccccc,
	mark-bgcolor: #0b090a,
	mark-color: #ffffff,
	//
	//
	// Defaults Fields
	// Common
	input-color: #0b090a,
	input-bgcolor: #ffffff,
	input-border-color: #cccccc,
	input-focus-border-color: #0b090a,
	// Disabled Feild
	disabled-input-bgcolor: #d5d3d3,
	disabled-input-border-color: #cccccc,
	// Placeholder
	placeholder-color: #999999,
	// Range Field
	range-track-bgcolor: #cccccc,
	range-thumb-bgcolor: #0b090a,
	// Color Field
	color-field-border-color: #cccccc,
	color-field-bgcolor: #ffffff,
	// Radio Buttons
	radio-color: #0b090a,
	radio-border-color: #cccccc,
	radio-bgcolor: #ffffff,
	radio-after-bgcolor: #0b090a,
	// Checkbox
	checkbox-color: #0b090a,
	checkbox-border-color: #cccccc,
	checkbox-bgcolor: #ffffff,
	checkbox-after-bgcolor: #0b090a,
	// Progress Bar
	progress-bgcolor: #cccccc,
	progress-value-bgcolor: #0b090a,
	// Meter
	meter-bgcolor: #cccccc,
	meter-value-bgcolor: #0b090a,
	//
	//
	// Form Buttons
	button-bgcolor: #0b090a,
	button-color: #ffffff,
	button-color-hover: #0b090a,
	button-bgcolor-hover: #ffffff,
	button-border-color-hover: #0b090a,
	// Reset Button
	reset-button-bgcolor: #cccccc,
	reset-button-color: #0b090a,
	reset-button-border-color-hover: #0b090a,
	//
	//
	// Gravity Forms Fields Colors
	// Datepicker
	datepicker-bg-color: #ffffff,
	datepicker-select-bgcolor: #ffffff,
	datepicker-link-color: #ffffff,
	datepicker-calendar: #ffffff,
	datepicker-th-bgcolor: #dddddd,
	datepicker-even-tr-td-bgcolor: #dddddd,
	datepicker-border-color: #cccccc,
	datepicker-date-color: #0b090a,
	// Validation Error Colors
	valiation-error-bgcolor: #e74c3c,
	valiation-error-border-color: #e74c3c,
	valiation-error-bg-color: #ffe2df,
	valiation-message-color: #e74c3c,
	error-field-border-color: #e74c3c,
	valiation-error-color: #ffffff,
	// Confirmation
	confirmation-message-bgcolor: #ffffff,
	confirmation-message-color: #0b090a,
	confirmation-message-border-color: #0b090a,
	// Required
	required-text-color: #e74c3c,
	// file upload
	fileupload_rule_color: #999999,
	//
	//
	// Hubspot Form Fields Colors
	invalid-error-border-color: #e74c3c,
	hubspot-error-label-color: #e74c3c,
	hubspot-required-color: #e74c3c,
	//
	// Accessibility Button
	acc-btn-color: #ffffff,
	acc-btn-bgcolor: #0b090a,
	acc-btn-shadow: #999999,
	//
	//
	// Comments System
	comments-reply-btn-bgcolor: #0b090a,
	comments-reply-btn-color: #ffffff,
	comments-reply-btn-bgcolor-hover: #ffffff,
	comments-reply-btn-color-hover: #0b090a,
	comments-reply-btn-border-color-hover: #0b090a,
	comment-meta-color: #0b090a,
	comment-metadata-color: #444444,
	comments-list-border-color: #cccccc,
	//
	//
	// Pagination Colors
	pagination-bgcolor: #ffffff,
	pagination-color: #0b090a,
	pagination-border: #0b090a,
	pagination-bgcolor-hover: #0b090a,
	pagination-color-hover: #ffffff,
	pagination-bgcolor-current: #0b090a,
	pagination-color-current: #ffffff,
	pagination-current-border: #0b090a,
	pagination-first-bgcolor: #ffffff,
	pagination-first-color: #0b090a,
	//
	//
	// Blocks Widgets
	widget-comments-meta-color: #999999,
	widget-latest-post-meta-color: #999999,
	widget-rss-feed-meta-color: #999999,
	widget-search-button-color: #0b090a,
	//
	//
	//
	//
	//
	// wp tables block
	wp-table-block-stripe-bg-color: #ffffff,
	//
	//
	//
	//
	//
	//
	//
	//
	//
	// Helpers Classes Colors
	black-text-color: #0b090a,
	white-text-color: #ffffff,
	// Breadcrumbs Colors
	breadcrumb-color: #0b090a,
	breadcrumb-link-color: #0b090a,
	breadcrumb-border-color: transparent,
	breadcrumb-border-color-hover: #0b090a,
	breadcrumb-span-color: #0b090a,
	// Theme Button Colors
	theme-btn-color: #ffffff,
	theme-btn-bgcolor: #0b090a,
	theme-btn-border-color: #0b090a,
	theme-btn-bgcolor-hover: #ffffff,
	theme-btn-border-color-hover: #0b090a,
	theme-btn-color-hover: #0b090a,
	// Button Variation
	red-btn-border-color: #ff0000,
	red-btn-bgcolor: #ff0000,
	red-btn-color: #ffffff,
	red-btn-border-color-hover: #0b090a,
	red-btn-bgcolor-hover: #ffffff,
	red-btn-color-hover: #0b090a,
	// Wordpress Button
	wp-btn-border-color: #0b090a,
	wp-btn-color: #0b090a,
	wp-btn-bgcolor: transparent,
	wp-outline-btn-border-color: #0b090a,
	wp-outline-btn-color: #ffffff,
	wp-outline-btn-bgcolor: #0b090a,
	// Error Menu Color
	error-menu-color: #0b090a,
	// Footer Color
	footer-bgcolor: #0b090a,
	footer-color: #ffffff,
	f-widget-border-color: #ffffff,
	f-nav-color: #ffffff,
	f-nav-after-bgcolor: #ffffff,
	copyright-color: #ffffff,
	legal-nav-color: #ffffff,
	legal-nav-after-bgcolor: #ffffff,
	legal-text-color: #ffffff,
	// Header Color
	header-fixed-bg-color: #dddddd,
	header-bgcolor: #ffffff,
	header-nav-color: #0b090a,
	header-nav-after-bgcolor: #0b090a,
	header-nav-second-ul-bgcolor: #ffffff,
	header-nav-second-link-color: #0b090a,
	header-nav-second-link-color-hover: #0b090a,
	// Mobile Menu
	mobile-nav-color: #0b090a,
	mobile-nav-sub-link-color: #0b090a,
	nav-overlay-bgcolor: #dddddd,
	// abbreviation
	abbr-border: #cccccc
);
