@use "sass:math";

@media (max-width: 1003px) {
	.top-bar {
		padding-inline: 5%;
	}
	.right-header.header-navigation {
		display: flex;
		align-items: center;
	}

	.header-inner {
		padding: 19px 5%;
	}

	.logo {
		max-width: 190px;
	}

	.nav-overlay .header-nav {
		ul {
			margin: 0;
			padding: 0;
			background: transparent;
			width: 100%;

			li {
				padding: 0;
				margin: 0 0 var(--el_space_24);
				position: relative;
				display: block;
				opacity: 1;
				line-height: 1;

				a,
				a:visited {
					color: var(--el_black);
					display: inline-block;
					position: relative;
					font-size: var(--el_font_size_t1);

					@include font(st, med);
				}

				&.current-menu-item > a,
				&.current-menu-parent > a,
				a:hover {
					border-bottom: none;
				}
			}

			ul {
				transition: none;
				display: none;
				padding: 8px 0 20px 20px;
				position: relative;
				top: initial;
				left: initial;
				opacity: initial;
				visibility: initial;
				overflow: visible;
				box-shadow: none;

				li {
					margin: 0 0 15px;

					&:last-child {
						margin-bottom: 0;
					}

					a,
					a:visited {
						padding: initial;
						text-transform: inherit;

						@include font(st, reg);
					}

					&.current-menu-item > a,
					&.current-menu-parent > a {
						color: var(--el_header_mobile_submenu_color);
					}
				}

				ul {
					padding: 20px 0 10px 20px;
				}
			}
		}
	}

	.header-nav ul li.menu-item-has-children > a {
		background-image: none;
		padding-right: 0;
	}

	.nav-overlay {
		position: fixed;
		background-color: var(--el_nav_overlay_bgcolor);
		left: 0;
		width: 100%;
		height: 100vh;
		opacity: 0;
		visibility: hidden;
		overflow: visible;
		box-sizing: border-box;
		z-index: 8;
		@include transition(all, 0.3s, ease-in-out);
		top: var(--el_header-wrapper-default);
		display: none;
	}

	body.have-topbar {
		.nav-overlay {
			top: calc(
				var(--el_header-height) + var(--el_header-wrapper-default)
			);
			top: 65px;
			height: calc(100vh - 65px);
		}
	}

	.nav-overlay.open {
		opacity: 1;
		visibility: visible;
		overflow-y: auto;
		display: block;

		.header-btns {
			opacity: 1;
		}
	}

	header .nav-container {
		padding: var(--el_space_7) 5%;
		height: 100%;
		transition: all 0.4s ease-in-out;
		transition-delay: 0.25s;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: space-between;

		.header-nav {
			text-align: left;
		}
	}

	header.shrink .nav-overlay.open .nav-container {
		opacity: 1;
	}

	.nav-content {
		height: 100%;
		max-height: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
		box-sizing: border-box;
	}

	.nav-content::-webkit-scrollbar-track {
		box-shadow: none;
		background-color: transparent;
	}

	.nav-content::-webkit-scrollbar {
		width: 3px;
		background-color: transparent;
		position: relative;
		left: 5px;
		box-shadow: none;
	}

	.nav-content::-webkit-scrollbar-thumb {
		box-shadow: none;
		border-radius: 2px;
	}

	.desktop-hide {
		display: block !important;
	}

	.header-btns {
		margin-top: 70px;
		transition: all 0.5s ease-in-out;
		width: 100%;

		a.button,
		a.button:visited {
			width: 100%;
			display: block;
		}
	}

	// menu buttons variable
	$menu_height: 20px;
	$menu_weight: 26px;

	.menu-btn {
		top: 0;
		right: 0;
		height: 13px;
		width: 36px;
		cursor: pointer;
		z-index: 9999;
		display: inline-flex;
		flex-direction: column;
		position: relative;
		justify-content: space-between;

		@include transition(all, 0.3s, ease-in-out);

		span {
			height: 2px;
			width: 100%;
			background-color: var(--el_white);
			opacity: 1;

			@include transition(all, 0.3s, ease-in-out);
		}

		&.active span {
			&:first-child {
				transform: translateY(3px) translateX(0) rotate(-45deg);
			}

			&:last-child {
				transform: translateY(math.div(-$menu_height, 2) + 1)
					translateX(0) rotate(45deg);
			}

			&.middle {
				opacity: 0;
			}
		}
	}

	.no-overflow {
		.menu-btn span {
			background-color: var(--el_black_1);
		}
	}

	li.menu-item-has-children {
		.submenu-icon {
			position: absolute;
			z-index: 9999;
			right: 0;
			top: 0;
			display: block;
			height: 22px;
			width: 22px;
			cursor: pointer;
			background-position: top 8px center;
			background-size: 9px;
			background-repeat: no-repeat;
			background-image: url(../images/submenu-icon.svg);
		}
	}

	li.menu-item-has-children.active > .submenu-icon::before {
		height: 0;
		top: 18px;
	}

	.no-overflow .logged-in.admin-bar {
		&.have-topbar {
			.nav-overlay {
				top: calc(
					var(--wp-admin--admin-bar--height) + var(--el_header-height) +
						var(--el_header-wrapper-default)
				);
				height: calc(
					100vh - var(--wp-admin--admin-bar--height) - var(
							--el_header-height
						)
				);
			}
		}

		.nav-overlay {
			top: calc(
				var(--wp-admin--admin-bar--height) +
					var(--el_header-wrapper-default)
			);
			height: calc(100vh - var(--wp-admin--admin-bar--height));
		}
	}
}

@media (max-width: 782px) {
	.no-overflow .logged-in.admin-bar .left-header {
		top: 110px;
	}

	#wpadminbar {
		position: fixed !important;
	}
}
