
@media only screen and (min-width: 1180px) and (max-width: 1345px) {
	// .header-nav ul li {
	// 	margin: 0 7px;
	// }


	footer {

		.big-body {
			font-size: 20px;
		}
	}

	.footer-ctn {
		margin-bottom: 120px;
	}

	.cta-ctn {
		padding: 52px 40px;
	}

	.footer-logo {
		max-width: 180px;
	}

	.footer-left {
		width: 40%;
		margin-right: 7%;
	}

	.legal-nav ul li a,
	.footer-nav ul li a {
		font-size: 20px;
	}

	.footer-nav ul li {
		margin-bottom: 1.8rem;
	}

	/**
 *
 * Global Buttons
 *
 */
	a.button.arrow-btn,
	a.button:visited.arrow-btn {
		font-size: 17px;
		padding: 7px 54px 7px 13px;
	}


	a.button,
	a.button:visited {
		font-size: 18px;
	}

	/**
	 *
	 * Containers Style
	 *
	 */


	.ctn {
		padding: 66px 0;
	}


	/**
	 *
	 * Typography
	 *
	 */


	.overline {
		font-size: 18px;
	}

	h1,
	.heading-1 {
		font-size: 80px;
	}

	h2,
	.heading-2 {
		font-size: 60px;
	}

	h3,
	.heading-3 {
		font-size: 44px;
	}

	h4,
	.heading-4 {
		font-size: 40px;
		font-size: 34px;
	}

	.big-body {
		font-size: 22px;
	}

	.med-body {
		font-size: 20px;
	}

	.large-text {
		font-size: 35px;
	}

	/**
	  *
	  * Header
	  *
	  */

	header {
		padding: 12px 2.5%;

		&.shrink {
			padding: 9px 2.5%;
		}
	}

	.header-logo a {
		width: 170px;
	}

	.header-nav ul li {
		margin: 0 15px;

		a,
		a:visited {
			font-size: 20px;
		}
	}

	/**
	 *
	 * Heros
	 *
	 */
	.hero-ctn {
		padding: 13rem 0 8rem;
	}


	/**
	 *
	 * spacer style
	 *
	 */
	.s-270 {
		height: 200px;
	}

	.s-200 {
		height: 140px;
	}

	.s-160 {
		height: 110px;
	}

	.s-140 {
		height: 100px;
	}

	.s-120 {
		height: 95px;
	}

	.s-100 {
		height: 80px;
	}

	.s-80 {
		height: 65px;
	}

	.s-60 {
		height: 45px;
	}

	.s-50 {
		height: 30px;
	}

	.s-40 {
		height: 30px;
	}

	.s-30 {
		height: 20px;
	}

	/**
	 *
	 * Style for two column text
	 *
	 */
	.mb-70 {
		margin-bottom: 50px;
	}

	/**
	 *
	 * Text Columns Block
	 *
	 */
	.text-column {
		padding: 0 3% 0 0;
	}

	/**
	 *
	 * Style for image collage blocks
	 *
	 */
	.collage-image {
		height: 380px;
	}

	.image-collage-ctn {
		row-gap: 30px;
	}


	/**
	 *
	 * Style for services block
	 *
	 */
	.service-icon {
		width: 90px;
		height: 90px;
		border-width: 2px;
		margin-bottom: 26px;

		img {
			margin: auto;
			max-width: 45px;
			max-height: 45px;
		}
	}

	.service-desc h3 {
		margin-bottom: 18px;
	}

	.services-area.three-cols .col:nth-child(n+4) {
		margin-top: 50px;
	}


	/**
	 *
	 * Style for projects
	 *
	 */
	a.project-image,
	a.project-image:visited {
		height: 330px;
		margin-bottom: 26px;
	}

	.single-project {
		width: 14%;
		max-width: 450px;
		float: left;
		margin-right: 26px;
	}

	.project-desc h3 {
		margin-bottom: 16px;
	}

	.projects-area {
		width: 330%;
	}

	/**
	 *
	 * Testimonial Block
	 *
	 */
	.single-testi {
		max-width: 1020px;
	}

	blockquote {
		margin-bottom: 4rem;

		p {
			font-size: 30px;
		}
	}

	.owl-carousel.testi-ctn .owl-nav {
		margin-top: 40px;
	}

	.testi-author-img {
		width: 100px;
		height: 100px;
		margin-right: 20px;
	}

	/**
	 *
	 * Style for image alongside text
	 *
	 */
	.iat-img-area {
		height: 485px;
	}

	.iat-content-area p {
		width: 90%;
	}

	/**
	 *
	 * Video Block
	 *
	 */
	.video-ctn {
		height: 660px;
	}

	a.video-btn {
		width: 90px;
		height: 90px;
		background-position: left 33px center;
		background-size: 30px;
	}

	/**
	 *
	 * Proccess bLock
	 *
	 */


	.single-proccess {
		padding: 20px 30px;
		font-size: 28px;
	}

	.single-proccess:nth-child(even)::before {
		top: 30px;
		left: -121px;
		line-height: 1;
	}

	.single-proccess:nth-child(n+3) {
		margin-top: 36px;
	}

	.single-proccess:nth-child(odd)::after {
		top: 30px;
	}

	.single-proccess:nth-child(even)::after {
		top: 35px;
	}

	.large-cta-title {
		font-size: 230px;
		margin-bottom: 60px;
	}

	.cta-bottom-text {
		font-size: 370px;
	}

	.cta-ctn.large-heading-ctn {
		border-radius: 0;
		margin-bottom: 0;
	}


	/**
	 *
	 * Two column Text
	 *
	 */


	.single-text-col {
		padding: 40px;

		h4 {
			margin-bottom: 25px;
		}
	}

	.single-text-col:nth-child(2n+2) {
		margin-top: -120px;
	}

	/**
	 *
	 * List Colunms
	 *
	 */
	.list-column {
		padding: 40px 35px;
	}

	.list-column:nth-child(n+3) {
		margin-top: 18px;
	}

	.mid-page-cta {
		padding: 70px 110px;
	}


	/**
	 *
	 * Products
	 *
	 */
	.product-image {
		margin-bottom: 24px;
		height: 375px;
	}

	.product-detail {

		h3 {
			margin-bottom: 20px;
		}
	}

	.plan-desc {
		margin-top: 25px;
	}

	.tct-column {
		padding: 30px;

		h3 {
			margin-bottom: 20px;
		}
	}

	.team-blk-content {
		padding: 0 60px;
	}

	.team-blk-images {
		height: 493px;
		padding: 23px 36px;
	}

	.member-image {
		width: 217px;
		height: 215px;

		&:nth-child(2),
		&:nth-child(3) {
			width: 188px;
			height: 196px;
		}
	}

	.team-blk-content {

		h2 {
			margin-bottom: 20px;
		}
	}

	.team-member-detail {
		padding: 30px 25px;
	}

	.fig-number {
		font-size: 55px;
	}

	.single-stat {

		h3 {
			font-size: 20px;
			margin: 28px 0 0;
		}
	}

	.member-image-area {
		height: 250px;
	}
}

@media only screen and (min-width: 1004px) and (max-width: 1179px) {
	// .header-nav ul li {
	// 	margin: 0 5px;
	// }

	// .header-inner .logo {
	// 	width: 181px;
	// }
}

@media only screen and (max-width: 1003px) {
	// code will be starts from here
}

@media only screen and (min-width: 748px) and (max-width: 1003px) {
	// code will be starts from here
}


@media only screen and (max-width: 747px) {

	.single-text-col {
		padding: 46px 25px;
	}

	.products-inner-ctn {

		.single-product:nth-child(n + 2) {
			margin-top: 36px;
		}
	}

	.product-image {
		height: 285px;
	}

	.section-head p {
		margin: 17px 0 0;
	}

	.team-blk-content {
		padding: 0;

		h2 {
			margin-bottom: 12px;
		}
	}

	.cleints-area {

		.single-team-member {

			&:nth-child(n + 2) {
				margin-top: 40px;
			}
		}
	}

	.three-cols {

		.tct-column,
		.single-price-plan {

			&:nth-child(n + 2) {
				margin-top: 12px;
			}
		}
	}

	.single-stat {

		&:nth-child(n + 2) {
			margin-top: 40px;
		}
	}

	.single-stat h3 {
		margin: 15px 0 0 0;
	}

	.hat-title,
	.hat-text {
		width: 100%;
		padding: 0;
	}

	.gallrey-image {
		width: 100% !important;
		margin: 0 0 20px 0 !important;
		height: 400px;
	}

	.mid-page-cta {
		padding: 40px 40px;
		border-radius: 5px;
	}

	.list-column {
		padding: 29px 20px;
		border-radius: 5px;

		h2 {
			margin-bottom: 15px;
		}

		ul {
			margin: 20px 0 0;

			li {
				padding-left: 23px;
				font-size: 18px;
			}
		}
	}

	.col-49,
	.two-col-head {
		width: 100%;
	}

	s
	.single-text-col {
		padding: 40px 30px;

		h4 {
			margin-bottom: 18px;
		}
	}

	.single-text-col:nth-child(2n+2) {
		margin-top: 0;
	}

	.large-cta-title {
		font-size: 75px;
		margin-bottom: 40px;
	}

	.large-heading-ctn {
		padding: 90px 0 212px;
	}

	.cta-bottom-text {
		font-size: 110px;
		bottom: 40px;
	}

	.single-slide {
		height: 370px;
	}

	.images-slider-ctn .owl-dots input[type="submit"],
	.images-slider-ctn .owl-dots button,
	.images-slider-ctn .owl-dots input[type="button"],
	.images-slider-ctn .owl-dots input[type="reset"] {
		width: 30px;
		height: 5px;
	}

	.single-proccess:nth-child(n+2) {
		margin-top: 15px !important;
	}

	.single-proccess:nth-child(odd)::after,
	.single-proccess:nth-child(even)::before,
	.single-proccess:nth-child(even)::after {
		display: none;
	}

	.single-proccess {
		padding: 20px 30px;
		font-size: 26px;
	}

	a.video-btn {
		width: 90px;
		height: 90px;
		background-position: left 34px center;
		background-size: 30px;
	}

	.video-ctn {
		height: 360px;
		width: 110%;
		margin-left: -5%;
	}

	.iat-content-area {
		margin-top: 3rem;

		h2 {
			margin-bottom: 16px;
		}
	}

	.iat-img-area {
		height: 390px;
	}

	.large-text {
		font-size: 28px;
	}

	.owl-carousel.testi-ctn .owl-nav {
		margin-top: 40px;
	}

	.testi-author-img {
		width: 93px;
		height: 93px;
		margin-right: 15px;
	}

	.big-body {
		font-size: 22px;
	}

	.med-body {
		font-size: 18px;
	}

	blockquote {
		margin: 0 0 4rem;
	}

	.mb-50 {
		margin-bottom: 30px;
	}

	blockquote p {
		font-size: 24px;
		margin-bottom: 0;

		&::before {
			margin-left: -18px;
		}
	}

	.project-desc h3 {
		margin-bottom: 10px;
	}

	a.project-image {
		height: 290px;
		line-height: 0.65;
	}

	.single-project {

		&:nth-child(n + 2) {
			margin-top: 36px;
		}
	}

	.projects-area {
		width: 100%;
	}

	.single-project {
		width: 100%;
		max-width: 100%;
		float: left;
		margin-right: 0;
	}

	.section-head.have-button {

		.head-btn {
			position: absolute;
			bottom: 0;
			width: 100%;
			display: flex;
			justify-content: center;
		}

		.head-content {
			margin-bottom: 0;
			width: 100%;
		}
	}

	.services-ctn {
		padding-bottom: 80px;
	}

	.head-content {
		margin-bottom: 0;
	}

	.service-desc h3 {
		margin-bottom: 16px;
	}

	.service-icon {
		margin-bottom: 16px;
	}

	.services-area.three-cols {

		.single-service {

			&:nth-child(n + 2) {
				margin-top: 36px;
			}
		}
	}

	.service-icon {
		width: 90px;
		height: 90px;

		img {
			max-width: 50px;
			max-height: 50px;
		}
	}

	.three-cols .col {
		margin-right: 0;
	}

	.image-collage-ctn {
		row-gap: 20px;
		padding: 8rem 0 0 0;
	}

	.collage-image {
		height: 280px;
	}

	.image-collage-ctn .collage-image {
		margin: 0 !important;
	}

	.mb-70 {
		margin-bottom: 40px;
	}

	.text-column h3 {
		margin-bottom: 18px;
	}

	.text-columns .text-column:nth-child(n+ 2) {
		margin-top: 36px;
	}

	.hero-ctn {
		padding: 14rem 0 6rem;
	}

	.overline {
		font-size: 17px;
		margin-bottom: 1rem;
	}

	.hero-ctn h1 {
		margin-bottom: 2rem;
	}

	.hero-ctn p {
		font-size: 20px;
	}

	/**
	 *
	 * Containers
	 *
	 */

	.ctn {
		padding: 60px 0;
	}

	/**
	 *
	 * Global Buttons
	 *
	 */
	a.button,
	a.button:visited {
		padding: 10px 22px;
		font-size: 18px;
	}


	/**
	 *
	 * Columns
	 *
	 */
	.four-cols .col,
	.three-cols .col,
	.col-538,
	.col-595,
	.col-50,
	.col-645 {
		width: 100%;
		margin-right: 0;
	}


	/**
	 * Spacers
	 */
	.s-270 {
		height: 120px;
	}

	.s-200 {
		height: 100px;
	}

	.s-160,
	.ts-160 {
		height: 86px;
	}

	.s-140,
	.ts-140 {
		height: 74px;
	}

	.s-120,
	.ts-120 {
		height: 64px;
	}

	.s-100,
	.ts-100 {
		height: 56px;
	}

	.s-80,
	.ts-80 {
		height: 46px;
	}

	.s-60,
	.ts-60 {
		height: 40px;
	}

	.s-50,
	.ts-50 {
		height: 36px;
	}

	.s-40,
	.ts-40 {
		height: 30px;
	}

	// headings
	h1,
	.heading-1 {
		font-size: 50px;
	}

	h2,
	.heading-2 {
		font-size: 42px;
	}

	h3,
	.heading-3 {
		font-size: 36px;
	}

	h4,
	.heading-4 {
		font-size: 32px;
	}

	h5,
	.heading-5 {
		font-size: 30px;
	}

	h6,
	.heading-6 {
		font-size: 26px;
	}

	// masthead
	.hero-single {
		padding: 40px 0 30px;
	}

	// utility class
	.rs-view-100 {
		width: 100% !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	// block posts
	.post-box-meta {
		margin-bottom: 10px;
	}

	.featured-post {
		margin-bottom: 0;

		.post-image {
			margin-bottom: 20px;
			min-height: 250px;
		}
	}

	.post-meta {
		flex-wrap: wrap;

		.post-cat {
			margin-bottom: 20px;

			a {
				padding-bottom: 0;
				margin-bottom: 4px;
				display: inline-block;
			}
		}

		.post-shares a {
			margin: 0 8px 0 0;
		}
	}

	// columns
	.two-columns,
	.three-columns,
	.four-columns,
	.five-columns {

		.column {
			width: 100%;
		}
	}

	// at block
	.iat-image.column {
		margin-top: 30px;
	}

	// lists
	ul.children,
	ol.children {

		li {

			&.depth-2,
			&.depth-3,
			&.depth-4,
			&.depth-5 {
				margin: 0 0 30px 20px !important;
			}
		}
	}

	// forms styling
	.gfield.half-input-field,
	.ginput_left,
	.name_first,
	.ginput_right,
	.name_last {
		width: 100%;
		margin-right: 0;
		display: block;
	}

	// Wp Table Block
	figure {
		overflow-x: scroll;

		td,
		th {
			width: 140px;
		}
	}

	// footer section styling
	.footer-widgets {
		flex-wrap: wrap;

		.single-widget {
			width: 43%;
			margin-right: 20px;
			margin-bottom: 50px;

			&:nth-child(1) {
				width: 100%;
				margin-right: 0;
			}

			&:nth-child(2n+2) {
				margin-right: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.footer-logo {
		max-width: 190px;
	}

	.footer-bottom {
		flex-wrap: wrap;
		padding: 30px 0;

		.copy-right,
		.menu-legal-nav {
			width: 100%;
		}

		.legal-nav ul {
			justify-content: left;

			li {
				margin: 10px 10px 0 0;
			}
		}

		.legal-nav {
			width: 100%;
		}
	}
}

@media only screen and (min-width: 460px) and (max-width: 747px) {
	// code will be starts from here
}

@media only screen and (max-width: 459px) {

	.footer-widgets .single-widget {
		width: 100%;
		margin-bottom: 30px;

		&:first-child {
			margin-bottom: 50px;
		}
	}
}
