@media only screen and (min-width: 748px) and (max-width: 1003px) {
}

@media only screen and (max-width: 747px) {

	.service-item-image {
		display: none;
	}

	.service-item-content {
		width: 100%;
	}

	.work-items {
		gap: var(--mf_space_6);
	}

	.work-item {
		width: 100%;

		&:nth-child(2n+2) {
			padding-top: 0;
		}
	}

	.hero--home {
		padding-top: 48px;
	}

	.headingLine:nth-child(2) {
		gap: var(--mf_space_2);
	}
}

@media only screen and (min-width: 460px) and (max-width: 747px) {
}

@media only screen and (max-width: 459px) {
}
