// All Sides Margin

.gl-m1 {
	margin: var(--gb_space_1);
}

.gl-m2 {
	margin: var(--gb_space_2);
}

.gl-m3 {
	margin: var(--gb_space_3);
}

.gl-m4 {
	margin: var(--gb_space_4);
}

.gl-m5 {
	margin: var(--gb_space_5);
}

.gl-m6 {
	margin: var(--gb_space_6);
}

.gl-m7 {
	margin: var(--gb_space_7);
}

.gl-m8 {
	margin: var(--gb_space_8);
}

.gl-m9 {
	margin: var(--gb_space_9);
}

.gl-m10 {
	margin: var(--gb_space_10);
}

.gl-m11 {
	margin: var(--gb_space_11);
}

.gl-m12 {
	margin: var(--gb_space_12);
}

.gl-m13 {
	margin: var(--gb_space_13);
}

.gl-m14 {
	margin: var(--gb_space_14);
}

.gl-m15 {
	margin: var(--gb_space_15);
}

.gl-m16 {
	margin: var(--gb_space_16);
}



// Margin From Top Class

.gl-mt1 {
	margin-top: var(--gb_space_1);
}

.gl-mt2 {
	margin-top: var(--gb_space_2);
}

.gl-mt3 {
	margin-top: var(--gb_space_3);
}

.gl-mt4 {
	margin-top: var(--gb_space_4);
}

.gl-mt5 {
	margin-top: var(--gb_space_5);
}

.gl-mt6 {
	margin-top: var(--gb_space_6);
}

.gl-mt7 {
	margin-top: var(--gb_space_7);
}

.gl-mt8 {
	margin-top: var(--gb_space_8);
}

.gl-mt9 {
	margin-top: var(--gb_space_9);
}

.gl-mt10 {
	margin-top: var(--gb_space_10);
}

.gl-mt11 {
	margin-top: var(--gb_space_11);
}

.gl-mt12 {
	margin-top: var(--gb_space_12);
}

.gl-mt13 {
	margin-top: var(--gb_space_13);
}

.gl-mt14 {
	margin-top: var(--gb_space_14);
}

.gl-mt15 {
	margin-top: var(--gb_space_15);
}

.gl-mt16 {
	margin-top: var(--gb_space_16);
}


// Margin From Bottom classes
.gl-mb1 {
	margin-bottom: var(--gb_space_1);
}

.gl-mb2 {
	margin-bottom: var(--gb_space_2);
}

.gl-mb3 {
	margin-bottom: var(--gb_space_3);
}

.gl-mb4 {
	margin-bottom: var(--gb_space_4);
}

.gl-mb5 {
	margin-bottom: var(--gb_space_5);
}

.gl-mb6 {
	margin-bottom: var(--gb_space_6);
}

.gl-mb7 {
	margin-bottom: var(--gb_space_7);
}

.gl-mb8 {
	margin-bottom: var(--gb_space_8);
}

.gl-mb9 {
	margin-bottom: var(--gb_space_9);
}

.gl-mb10 {
	margin-bottom: var(--gb_space_10);
}

.gl-mb11 {
	margin-bottom: var(--gb_space_11);
}

.gl-mb12 {
	margin-bottom: var(--gb_space_12);
}

.gl-mb13 {
	margin-bottom: var(--gb_space_13);
}

.gl-mb14 {
	margin-bottom: var(--gb_space_14);
}

.gl-mb15 {
	margin-bottom: var(--gb_space_15);
}

.gl-mb16 {
	margin-bottom: var(--gb_space_16);
}


// Margin From Left Classes
.gl-ml1 {
	margin-left: var(--gb_space_1);
}

.gl-ml2 {
	margin-left: var(--gb_space_2);
}

.gl-ml3 {
	margin-left: var(--gb_space_3);
}

.gl-ml4 {
	margin-left: var(--gb_space_4);
}

.gl-ml5 {
	margin-left: var(--gb_space_5);
}

.gl-ml6 {
	margin-left: var(--gb_space_6);
}

.gl-ml7 {
	margin-left: var(--gb_space_7);
}

.gl-ml8 {
	margin-left: var(--gb_space_8);
}

.gl-ml9 {
	margin-left: var(--gb_space_9);
}

.gl-ml10 {
	margin-left: var(--gb_space_10);
}

.gl-ml11 {
	margin-left: var(--gb_space_11);
}

.gl-ml12 {
	margin-left: var(--gb_space_12);
}

.gl-ml13 {
	margin-left: var(--gb_space_13);
}

.gl-ml14 {
	margin-left: var(--gb_space_14);
}

.gl-ml15 {
	margin-left: var(--gb_space_15);
}

.gl-ml16 {
	margin-left: var(--gb_space_16);
}

// Margin From Right Classes
.gl-mr1 {
	margin-right: var(--gb_space_1);
}

.gl-mr2 {
	margin-right: var(--gb_space_2);
}

.gl-mr3 {
	margin-right: var(--gb_space_3);
}

.gl-mr4 {
	margin-right: var(--gb_space_4);
}

.gl-mr5 {
	margin-right: var(--gb_space_5);
}

.gl-mr6 {
	margin-right: var(--gb_space_6);
}

.gl-mr7 {
	margin-right: var(--gb_space_7);
}

.gl-mr8 {
	margin-right: var(--gb_space_8);
}

.gl-mr9 {
	margin-right: var(--gb_space_9);
}

.gl-mr10 {
	margin-right: var(--gb_space_10);
}

.gl-mr11 {
	margin-right: var(--gb_space_11);
}

.gl-mr12 {
	margin-right: var(--gb_space_12);
}

.gl-mr13 {
	margin-right: var(--gb_space_13);
}

.gl-mr14 {
	margin-right: var(--gb_space_14);
}

.gl-mr15 {
	margin-right: var(--gb_space_15);
}

.gl-mr16 {
	margin-right: var(--gb_space_16);
}