.is-style-gl-s1,
.gl-s1 {
	height: var(--gb_space_1) !important;
}

.is-style-gl-s2,
.gl-s2 {
	height: var(--gb_space_2) !important;
}

.is-style-gl-s3,
.gl-s3 {
	height: var(--gb_space_3) !important;
}

.is-style-gl-s4,
.gl-s4 {
	height: var(--gb_space_4) !important;
}

.is-style-gl-s5,
.gl-s5 {
	height: var(--gb_space_5) !important;
}

.is-style-gl-s6,
.gl-s6 {
	height: var(--gb_space_6) !important;
}

.is-style-gl-s7,
.gl-s7 {
	height: var(--gb_space_7) !important;
}

.is-style-gl-s8,
.gl-s8 {
	height: var(--gb_space_8) !important;
}

.is-style-gl-s9,
.gl-s9 {
	height: var(--gb_space_9) !important;
}

.is-style-gl-s10,
.gl-s10 {
	height: var(--gb_space_10) !important;
}

.is-style-gl-s11,
.gl-s11 {
	height: var(--gb_space_11) !important;
}

.is-style-gl-s12,
.gl-s12 {
	height: var(--gb_space_12) !important;
}

.is-style-gl-s13,
.gl-s13 {
	height: var(--gb_space_13) !important;
}

.is-style-gl-s14,
.gl-s14 {
	height: var(--gb_space_14) !important;
}

.is-style-gl-s15,
.gl-s15 {
	height: var(--gb_space_15) !important;
}


// Lagacy Spacers

.s-270 {
	height: 270px;
}

.s-200 {
	height: 200px;
}

.s-160 {
	height: 160px;
}

.s-140 {
	height: 140px;
}

.s-120 {
	height: 120px;
}

.s-100 {
	height: 100px;
}

.s-80 {
	height: 80px;
}

.s-60 {
	height: 60px;
}

.s-50 {
	height: 50px;
}

.s-40 {
	height: 40px;
}

.s-30 {
	height: 30px;
}