.large-heading-ctn {
	padding: 90px 0 422px;
	box-sizing: border-box;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.cta-ctn.large-heading-ctn {
	margin-bottom: 0;
	border-radius: 0;
	background-color: none;
	.owl-stage{
		display:flex;
	}
}

.large-cta-title {
	font-size: 272px;
	text-transform: uppercase;
	margin-bottom: 60px;
	line-height: 1;
}

.cta-bottom-text {
	max-width: 1920px;
	font-size: 400px;
	text-transform: uppercase;
	opacity: 0.2;
	color: transparent;
	line-height: 1.1;
	position: absolute;
	bottom: 0;
	white-space: nowrap;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: map-get( $map: $colors, $key: white );
}

.cta-content-area {
	z-index: 2;
	position: relative;
}

.mid-page-cta {

	@include padding(70px 160px);
	text-align: center;
	background-color: rgba(255,255,255,0.04);

	@include border-radius(20px);

	h2 {
		color: map-get( $map: $colors, $key: white );
		margin-bottom: 50px;
	}
}

.cta-ctn {
	background-color: map-get($map: $colors, $key: red2);

}

.job-cta {
	background-color: map-get($map: $colors, $key: white);
	color: map-get($map: $colors, $key: black);
	width: 100%;
	box-sizing: border-box;

	p {
		max-width: 70%;
		margin-inline: auto;
	}
}
