.gallrey-images {
	display: flex;
	flex-wrap: wrap;
}

.gallrey-image {

	@extend .reset-bg;
}

.gallrey-image {
	width: 50.1%;
	height: 400px;
	float: left;

	&:nth-child(2),
	&:nth-child(3) {
		width: 34.6%;
	}

	&:nth-child(2) {
		margin-left: 6.7%;
		margin-top: -150px;
	}

	&:nth-child(3) {
		margin-right: 6.7%;
		margin-top: 80px;
	}

	&:nth-child(4) {
		margin-top: -70px;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 10px;
	}
}

.four-images-ctn {
	max-width: 1204px;
	margin: 0 auto;
}
