a.no-link-style,
a.no-link-style:visited {
	display: block;
	padding: 0;
	border: 0;
	line-height: 0.65;

	@media (hover: hover) {
		&:hover {
			color: inherit;
		}
	}
}

.service-list-item {
	position: relative;


	a.no-link-style,
	a.no-link-style:visited {
		padding: var(--ed_space_5) 0;
		line-height: 1;
	}

	&:last-of-type {
		border: 0;
		&::after {
			content: '';
			width: 200vw;
			height: 1px;
			display: block;
			position: absolute;
			bottom: 0;
			left: -50vw;
			background-color: var(--ed_gray);
		}
	}

	&::before {
		content: '';
		width: 200vw;
		height: 1px;
		display: block;
		position: absolute;
		top: 0;
		left: -50vw;
		background-color: var(--ed_gray);
	}

}

.service-item-content {
	width: 70%;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.service-count {
	width: 20%;
	@include font(st, med);
	font-size: clamp(0.875rem, 0.231vw + 0.815rem, 1rem);
}

.service-title {
	width: 80%;
	font-size: var(--ed_font_size_h3);
	@include font(st, med);
	transition: all 0.5s ease-in-out;
}

.service-item-image {
	width: 250px;
	aspect-ratio: 2/1.4;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto !important;
	right: 60px;
	transition: all 0.7s ease-in-out;
	border-radius: 16px;
	overflow: hidden;
	opacity: 0;
	z-index: 4;
}

@media (hover: hover) {

	.service-list-item:hover {

		.service-title {
			color: map-get($map: $colors, $key: red);
		}
	}

	.white-ctn {

		.service-list-item:hover {

			.service-title {
				color: map-get($map: $colors, $key: red2);
			}
		}
	}
}

.h-img-cover {
	line-height: 0.65;
	padding: 0;

	img,
	video,
	picture {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.service-label {
	font-size: clamp(1rem, 0.231vw + 0.94rem, 1.125rem);
	@include font(st, med);
	margin-bottom: var(--ed_space_3);
	opacity: .8;
	display: flex;
	flex-wrap: wrap;
	gap: var(--ed_space_4);
}

.resources-ctn {

	.service-item-content {
		flex-direction: column;
	}

	.service-title {
		width: 100%;
		line-height: 1.3;
	}

	.service-title {

		font-size: var(--ed_font_size_h4);

	}

}

.blog-posts-button {
	line-height: 0.65;
}


.sm-services {
	.service-title {
		font-size: var(--ed_font_size_h4);
	}
}
