.footer-logo {
	line-height: 0.65;
	max-width: 202px;

	a,
	a:visited {
		border: none;
		display: inline-block;
	}
}


.footer-widget {
	width: 65%;
	margin-right: 5%;

	&:nth-child(2) {
		margin-right: 0;
		width: 30%;
	}
}

.footer-nav {

	ul {
		padding: 0;
		margin: 0;

		li {
			padding: 0;
			margin: 0 0 var(--ed_space_4);
			list-style-type: none;

			a,
			a:visited {

				font-size: clamp(1.25rem, 0.462vw + 1.13rem, 1.5rem);
				color: map-get($map: $colors, $key: white);

				line-height: 1.2;
				position: relative;
				display: inline-block;
				border: 0;

				@include font(st, sbold, weight);

			}

			&.current-menu-item>a,
			&.current-menu-parent>a,
			a:hover {
				color: map-get($map: $colors, $key: red);
			}

			&:last-of-type {
				margin: 0;
			}
		}

		ul {
			padding: 2rem 0 1rem;

			li {
				display: block;
				margin: 0 0 14px;
				padding: 0 15px;

				&:last-child {
					margin: 0;
				}
			}
		}
	}
}

.legal-nav {

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;

		li {
			margin-bottom: 0;
			margin-left: var(--ed_space_5);

			a,
			a:visited {
				position: relative;
				display: inline-block;
				// font-size: clamp(1.25rem, 0.462vw + 1.13rem, 1.5rem);
				font-size: clamp(1rem, 0.231vw + 0.94rem, 1.125rem);
				color: map-get($map: $colors, $key: white);

				&:hover {
					color: map-get($map: $colors, $key: red);
				}
			}

			&.current-menu-item a {

				&::after {
					transform-origin: bottom left;
					transform: scaleX(1);
				}
			}

			&:first-child {
				margin-right: 0;
			}
		}
	}
}


.cta-ctn {
	padding: 52px 55px;
	box-sizing: border-box;
	border-radius: 10px;

	h4 {
		color: map-get($map: $colors, $key: white);
		margin-bottom: 0;
		width: 80%;
	}
}

.footer-left {
	width: 34%;
	margin-right: 8.5%;
}

.footer-right {
	width: 42%;
}

.site-socials {
	.big-body {
		@include font(st, med);
	}

	ul {
		margin: 36px 0 0;

		li {
			margin: 0 var(--ed_space_4) 0 0;
			line-height: 1;

			a,
			a:visited {
				width: var(--ed_space_5);
				height: var(--ed_space_5);
				box-sizing: border-box;
				background-color: rgba(255, 255, 255, 0.2);
				border-radius: 50%;
				line-height: 0.65;
				display: flex;
				justify-content: center;
				align-items: center;

				img {
					filter: invert(99%) sepia(1%) saturate(2921%) hue-rotate(307deg) brightness(127%) contrast(100%);
					height: 24px;
				}

				&:hover {
					background-color: map-get($map: $colors, $key: red);
				}

			}

			&:last-of-type {
				margin: 0;
			}

		}
	}
}

.elitedesign-contact {

	a,
	a:visited {
		color: map-get($map: $colors, $key: white);

		&:hover {
			color: map-get($map: $colors, $key: red);
		}
	}

	.big-body {
		margin-bottom: var(--ed_space_2);

		b {
			display: inline-block;
			width: 100px;
		}

		&:last-of-type {
			margin: 0;
		}
	}
}


.copyright-area {

	p {
		margin-bottom: 0;

		a,
		a:visited {
			color: map-get($map: $colors, $key: white);

			&:hover {
				color: map-get($map: $colors, $key: red);
			}
		}
	}

	s p:last-child {
		margin-bottom: 0;
	}
}

// .footer-hover-button

.footer-section {
	transition: background-color 0.5s ease-in-out;

	&.purple-bg {
		background-color: map-get($map: $colors, $key: red2);
	}
}

.changeable-bg.purple-bg {
	background-color: map-get($map: $colors, $key: red2);
}
