.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-container {
	display: flex;
	align-items: center;
}

.header-logo a {
	display: inline-block;
	width: 202px;
}

.no-overflow {
	overflow: hidden;
}

header {
	padding: 22px 2.5%;
	transition: all 0.6s ease-in-out;
	z-index: 9;
	box-sizing: border-box;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: rgba(1, 2, 28, 0.4);
	-webkit-backdrop-filter: blur(30px);
	backdrop-filter: blur(30px);
}

.logo {
	position: relative;
	z-index: 9;
	line-height: 0.65;
	margin-top: 6px;

	a {
		display: block;
		line-height: 0.65;
	}
}

.left-header {
	float: left;
	width: 250px;
}

.no-overflow .left-header {
	z-index: 9;
	position: fixed;
	top: 0;
	left: 0;
	width: 70%;
	padding-left: 20px;
	padding-top: 19px;
}

.no-overflow header.shrink .left-header {
	padding-top: 15px;
}

.header-logo {
	line-height: 0.65;
}

.header-btns {
	text-align: right;
	z-index: 1;
	line-height: 0.65;
}

body.logged-in.admin-bar {

	header {
		top: 32px;
	}
}

// #cursor,
// #cursor__circle {
// 	position: fixed;
// 	z-index: 99;
// 	left: 0;
// 	top: 0;
// 	pointer-events: none;
// 	will-change: transform;
// }

// @media (hover: hover) and (pointer: fine) {

// 	.cursor__circle {
// 		width: 100px;
// 		height: 100px;
// 		margin-top: -50%;
// 		margin-left: -50%;
// 		border-radius: 50%;
// 		transition: all 0.7s cubic-bezier(0.25, 1, 0.5, 1);
// 		transform: scale(0);
// 	}

// 	#cursor.read-more .cursor__circle {
// 		width: 100px;
// 		height: 100px;
// 		background-color: map-get($map: $colors, $key: yellow);
// 		opacity: 1;
// 		transform: scale(1);
// 	}

// 	#cursor.read-more::after {
// 		content: "Read More";
// 		position: absolute;
// 		left: -20px;
// 		top: -24px;
// 		width: 45px;
// 		text-align: center;
// 		height: 48px;
// 		line-height: 1.35;
// 		@include font(st, bold);
// 		font-size: 18px;
// 		animation: fadein 0.7s linear forwards;
// 		color: map-get($map: $colors, $key: red2);
// 	}

// 	@keyframes fadein {
// 		0% {
// 			opacity: 0;
// 		}

// 		100% {
// 			opacity: 1;
// 		}
// 	}
// }
