.hero__content {
	h1 {
		margin-bottom: 0;
	}
}

.hero-ctn {
	a,
	a:visited,
	span {
		color: #b388dd;
		transition: all 0.3s ease-in-out;
	}

	.post-tags .post-tag,
	.post-tags a.post-tag,
	.post-tags a.post-tag:visited {
		color: map-get($map: $colors, $key: white);

		&:hover {
			border-color: map-get($map: $colors, $key: white);
		}
	}
}

.hero__buttons {
	margin-top: 50px;
}

.post-tags {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	line-height: 1;

	.post-tag,
	a.post-tag,
	a.post-tag:visited {
		border: 1px solid var(--ed_ugray);
		border-radius: 100px;
		padding: 8px 24px;
		box-sizing: border-box;
		@include font(st, med);
		text-decoration: none;
		color: map-get($map: $colors, $key: black);
		transition: all 0.3s ease-in-out;

		&:hover {
			border-color: map-get($map: $colors, $key: black);
		}
	}

	a.post-tag,
	a.post-tag:visited {
		&:hover {
			border-color: map-get($map: $colors, $key: white);
		}
	}
}

.hero-bottom-content {
	width: 33%;
}

.hero-bottom-image {
	aspect-ratio: 1 / 0.6;
	line-height: 0.65;
	width: 57.5%;
}

.hero-section {
	padding-top: 102px;
	box-sizing: border-box;
}

.headingLine {
	overflow: hidden;
	line-height: 1.25;
	// opacity: 0;

	&:nth-child(2) {
		display: flex;
		flex-wrap: wrap;
		justify-content: right;
		align-items: baseline;
		gap: var(--ed_space_5);
		margin-top: -3.5%;
	}
}

@keyframes wave-arrow1 {
	0% {
		opacity: 0.52;
	}

	33% {
		opacity: 1;
	}

	to {
		opacity: 0.52;
	}
}

@keyframes wave-arrow2 {
	0% {
		opacity: 0.52;
	}

	33% {
		opacity: 0.52;
	}

	66% {
		opacity: 1;
	}

	to {
		opacity: 0.52;
	}
}

@keyframes wave-arrow3 {
	0% {
		opacity: 1;
	}

	33% {
		opacity: 0.52;
	}

	66% {
		opacity: 0.52;
	}

	to {
		opacity: 1;
	}
}

.dropdown-item1 {
	animation-name: wave-arrow1;
}

.dropdown-item3 {
	animation: wave-arrow2;
}

.dropdown-item2 {
	animation: wave-arrow3;
}

.dropdown-item1,
.dropdown-item2,
.dropdown-item3 {
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.scroll-down {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;

	a,
	a:visited {
		line-height: 0;
	}
}
