@media (min-width: 1024px) {

	.header-nav ul li:hover > ul {
		opacity: 1;
		visibility: visible;
		overflow: visible;
	}

	.header-nav ul ul {
		animation-delay: 0.6s;
		opacity: 0;
		visibility: hidden;
		overflow: hidden;

		@include transition(all, 0.5s, ease-in-out);
	}
}

.header-nav {
	text-align: center;
	line-height: 1;

	ul {
		margin: 0;
		padding: 0;
		position: relative;

		li {
			margin: 0 40px 0 0;
			padding: 0;
			display: inline-block;
			position: relative;
			line-height: 1;

			a,
			a:visited {
				display: inline-block;
				line-height: 1.6;
				border: 0;
				position: relative;

				@include font-size(2.2);
				@include font(st, med);

				color: map-get($map: $colors, $key: white);

				&::before {
					content: "";
					width: 0;
					height: 2px;
					background-color: map-get($map: $colors, $key: white);
					position: absolute;
					left: 0;
					bottom: 0;
					display: block;
					transition: all 0.5s ease-in-out;
				}

				&:hover {

					&::before {
						width: 100%;
					}
				}
			}

			&.current-menu-item > a,
			&.current-menu-parent > a,
			a:hover {
				border: 0;

				&::before {
					width: 100%;
				}
			}
		}

		ul {
			left: -26px;
			width: 230px;
			opacity: 0;
			box-shadow: 0 30px 60px rgb(18 27 32 / 0.15);
			background-color: map-get($map: $base_colors, $key: header-nav-second-ul-bgcolor);
			visibility: hidden;
			padding: 26px 0;

			@include border-radius(0);

			position: absolute;
			top: 34px;
			z-index: 9;
			overflow: hidden;

			@include transition(all, 0.4s, ease-in-out);

			text-align: left;

			li {
				display: block;
				margin: 0 0 14px;
				padding: 0 26px;

				&:last-child {
					margin: 0;
				}

				a,
				a:visited {

					@include font-size(1.4);
					display: inline-block;
					padding-bottom: 2px;
					line-height: 1;
					box-sizing: border-box;
					position: relative;
					color: map-get($map: $base_colors, $key: header-nav-second-link-color);

					@include transition(all, 0.5s, ease-in-out);
					@include font(st, reg);

					&::after {
						bottom: 0;
					}
				}

				a:hover {
					color: map-get($map: $base_colors, $key: header-nav-second-link-color-hover);
				}

				&.current-menu-item > a,
				&.current-menu-parent > a,
				a:hover {
					border: 0;

					&::after {
						transform-origin: bottom left;
						transform: scaleX(1);
					}
				}
			}

			ul {
				top: -26px;
				left: 230px;

				&::before {
					display: none;
					content: "";
					width: 1px;
					height: 1px;
					position: absolute;
					top: 12px;
					left: -5px;
					margin: auto;
				}
			}
		}
	}
}
