@media (max-width: 1003px) {
	header {
		padding: 22px 6%;
	}

	.right-header {
		line-height: 0.65;
		display: flex;
		align-items: center;
	}

	.header-logo {
		max-width: 160px;
	}

	.header-btns {
		a.button,
		a.button:visited {
			color: map-get($map: $colors, $key: black01);
			border: 2px solid map-get($map: $colors, $key: black01);
			display: block;
			text-align: center;

			&:hover {
				background-color: map-get($map: $colors, $key: black01);
				color: map-get($map: $colors, $key: white);
			}
		}
	}

	.nav-overlay .header-nav {
		ul {
			margin: 0;
			padding: 0;
			background: transparent;
			width: 100%;

			li {
				padding: 0;
				margin: 0 0 var(--ed_space_4);
				position: relative;
				display: block;
				opacity: 1;
				line-height: 1;

				a,
				a:visited {
					color: map-get($map: $colors, $key: black);
					display: inline-block;
					position: relative;
					font-size: var(--ed_font_size_t1);

					@include font(st, med);
				}

				&.current-menu-item > a,
				&.current-menu-parent > a,
				a:hover {
					border-bottom: none;
				}
			}

			ul {
				transition: none;
				display: none;
				padding: 15px 0 15px 20px;
				position: relative;
				top: initial;
				left: initial;
				opacity: initial;
				visibility: initial;
				overflow: visible;
				box-shadow: none;

				li {
					margin: 0 0 2rem;

					&:last-child {
						margin-bottom: 0;
					}

					a,
					a:visited {
						padding: initial;
						text-transform: inherit;

						@include font(st, reg);
					}

					&.current-menu-item > a,
					&.current-menu-parent > a {
						color: map-get(
							$map: $base_colors,
							$key: mobile-nav-sub-link-color
						);
					}
				}
			}
		}
	}

	.nav-overlay {
		position: fixed;
		background-color: map-get($map: $colors, $key: white);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		height: 100vh;
		opacity: 0;
		visibility: hidden;
		overflow: visible;
		box-sizing: border-box;
		z-index: 8;
		transition: all 0.4s ease-in-out;
		padding: var(--ed_space_6) 0;
	}

	.nav-overlay.open {
		opacity: 1;
		visibility: visible;
		overflow: visible;
	}

	header .nav-container {
		padding: var(--ed_space_7) 6% var(--ed_space_5);
		height: 100%;
		transition: all 0.4s ease-in-out;
		transition-delay: 0.25s;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: space-between;

		.header-nav {
			text-align: left;
		}
	}

	.nav-content {
		height: 100%;
		max-height: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
		box-sizing: border-box;
	}

	.menu-btn {
		height: 12px;
		width: 32px;
		cursor: pointer;
		z-index: 9999;
		display: inline-flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;

		transition: all 0.3s ease-in-out;
	}

	.menu-btn.active .top {
		transform: translateY(0px) translateX(0) rotate(-46deg);
	}

	.menu-btn.active .bottom {
		transform: translateY(-10px) translateX(0) rotate(46deg);
	}

	.menu-btn span {
		background-color: map-get($map: $colors, $key: white);
		height: 2px;
		width: 32px;
		transition: all 0.3s ease-in-out;
	}

	.no-overflow {
		.menu-btn span {
			background-color: map-get($map: $colors, $key: black01);
		}
	}
}

@media (max-width: 782px) {
	#wpadminbar {
		position: fixed !important;
	}

	body.logged-in.admin-bar {
		header {
			top: 46px;
		}
	}
}
