:root {

	--gb_base_unit: 0.125rem; // 2px
	--base_unit-half: calc(var(--gb_base_unit) / 2); // 1px

	/*-------------------------------------------------
	>> Variables for Spaces
	-------------------------------------------------*/

	--space_base_unit: var(--gb_base_unit);

	/* Mobile Spacer Value */
	--gb_space_1_min: var(--space_base_unit) * 1;
	/* 2px */
	--gb_space_2_min: var(--space_base_unit) * 2;
	/* 4px */
	--gb_space_3_min: var(--space_base_unit) * 3;
	/* 6px */
	--gb_space_4_min: var(--space_base_unit) * 5;
	/* 10px */
	--gb_space_5_min: var(--space_base_unit) * 6;
	/* 12px */
	--gb_space_6_min: var(--space_base_unit) * 8;
	/* 16px */
	--gb_space_7_min: var(--space_base_unit) * 11;
	/* 22px */
	--gb_space_8_min: var(--space_base_unit) * 14;
	/* 28px */
	--gb_space_9_min: var(--space_base_unit) * 18;
	/* 36px */
	--gb_space_10_min: var(--space_base_unit) * 21;
	/* 42px */
	--gb_space_11_min: var(--space_base_unit) * 24;
	/* 48px */
	--gb_space_12_min: var(--space_base_unit) * 27;
	/* 54px */
	--gb_space_13_min: var(--space_base_unit) * 30;
	/* 60px */
	--gb_space_14_min: var(--space_base_unit) * 36;
	/* 72px */
	--gb_space_15_min: var(--space_base_unit) * 42;
	/* 84px */
	--gb_space_16_min: var(--space_base_unit) * 48;
	/* 96px */

	/* Desktop Spacer Value */

	--gb_space_1_max: var(--space_base_unit) * 1;
	/* 2px */
	--gb_space_2_max: var(--space_base_unit) * 2;
	/* 4px */
	--gb_space_3_max: var(--space_base_unit) * 4;
	/* 8px */
	--gb_space_4_max: var(--space_base_unit) * 6;
	/* 12px */
	--gb_space_5_max: var(--space_base_unit) * 8;
	/* 16px */
	--gb_space_6_max: var(--space_base_unit) * 10;
	/* 20px */
	--gb_space_7_max: var(--space_base_unit) * 18;
	/* 36px */
	--gb_space_8_max: var(--space_base_unit) * 22;
	/* 44px */
	--gb_space_9_max: var(--space_base_unit) * 24;
	/* 48px */
	--gb_space_10_max: var(--space_base_unit) * 30;
	/* 60px */
	--gb_space_11_max: var(--space_base_unit) * 36;
	/* 72px */
	--gb_space_12_max: var(--space_base_unit) * 48;
	/* 96px */
	--gb_space_13_max: var(--space_base_unit) * 60;
	/* 120px */
	--gb_space_14_max: var(--space_base_unit) * 80;
	/* 160px */
	--gb_space_15_max: var(--space_base_unit) * 100;
	/* 200px */
	--gb_space_16_max: var(--space_base_unit) * 120;
	/* 240px */

	// Fluid Spacers

	--gb_space_1: clamp(var(--gb_space_1_min), 0.125rem + 0vw, var(--gb_space_1_max));
	--gb_space_2: clamp(var(--gb_space_2_min), 0.25rem + 0vw, var(--gb_space_2_max));
	--gb_space_3: clamp(var(--gb_space_3_min), 0.03790613718411551rem + 0.7220216606498195vw, var(--gb_space_3_max));
	--gb_space_4: clamp(var(--gb_space_4_min), 0.2879061371841155rem + 0.7220216606498195vw, var(--gb_space_4_max));
	--gb_space_5: clamp(var(--gb_space_5_min), 0.07581227436823101rem + 1.444043321299639vw, var(--gb_space_5_max));
	--gb_space_6: clamp(var(--gb_space_6_min), 0.325812274368231rem + 1.444043321299639vw, var(--gb_space_6_max));
	--gb_space_7: clamp(var(--gb_space_7_min), -0.9846570397111916rem + 5.054151624548737vw, var(--gb_space_7_max));
	--gb_space_8: clamp(var(--gb_space_8_min), -0.9467509025270759rem + 5.776173285198556vw, var(--gb_space_8_max));
	--gb_space_9: clamp(var(--gb_space_9_min), 0.22743682310469282rem + 4.332129963898917vw, var(--gb_space_9_max));
	--gb_space_10: clamp(var(--gb_space_10_min), -0.40884476534296077rem + 6.498194945848376vw, var(--gb_space_10_max));
	--gb_space_11: clamp(var(--gb_space_11_min), _1.0451263537906144rem + 8.664259927797834vw, var(--gb_space_11_max));
	--gb_space_12: clamp(var(--gb_space_12_min), _3.703971119133575rem + 15.162454873646212vw, var(--gb_space_12_max));
	--gb_space_13: clamp(var(--gb_space_13_min), -6.362815884476534rem + 21.660649819494584vw, var(--gb_space_13_max));
	--gb_space_14: clamp(var(--gb_space_14_min), _10.332129963898918rem + 31.768953068592058vw, var(--gb_space_14_max));
	--gb_space_15: clamp(var(--gb_space_15_min), _14.3014440433213rem + 41.87725631768953vw, var(--gb_space_15_max));
	--gb_space_16: clamp(var(--gb_space_16_min), _18.270758122743686rem + 51.98555956678701vw, var(--gb_space_16_max));

	/* -------------------------------------------------
	>> Font Sizes
	------------------------------------------------- */

	--font_base_unit: var(--gb_base_unit);

	// Mobile Font Size
	--gb_font_size_1_min: var(--font_base_unit) * 5.5;
	/* 11px */
	--gb_font_size_2_min: var(--font_base_unit) * 6.5;
	/* 13px */
	--gb_font_size_3_min: var(--font_base_unit) * 7.5;
	/* 15px */
	--gb_font_size_4_min: var(--font_base_unit) * 8.5;
	/* 17px */
	--gb_font_size_5_min: var(--font_base_unit) * 9;
	/* 18px */
	--gb_font_size_6_min: var(--font_base_unit) * 10;
	/* 20px */
	--gb_font_size_7_min: var(--font_base_unit) * 10;
	/* 20px */
	--gb_font_size_8_min: var(--font_base_unit) * 11;
	/* 22px */
	--gb_font_size_9_min: var(--font_base_unit) * 12;
	/* 24px */
	--gb_font_size_10_min: var(--font_base_unit) * 13;
	/* 26px */
	--gb_font_size_11_min: var(--font_base_unit) * 15;
	/* 30px */
	--gb_font_size_12_min: var(--font_base_unit) * 22.5;
	/* 45px */
	--gb_font_size_13_min: var(--font_base_unit) * 27.5;
	/* 55px */

	// Desktop Font Size
	--gb_font_size_1_max: var(--font_base_unit) * 6;
	/* 12px */
	--gb_font_size_2_max: var(--font_base_unit) * 7;
	/* 14px */
	--gb_font_size_3_max: var(--font_base_unit) * 8;
	/* 16px */
	--gb_font_size_4_max: var(--font_base_unit) * 9;
	/* 18px */
	--gb_font_size_5_max: var(--font_base_unit) * 10;
	/* 20px */
	--gb_font_size_6_max: var(--font_base_unit) * 11;
	/* 22px */
	--gb_font_size_7_max: var(--font_base_unit) * 12;
	/* 24px */
	--gb_font_size_8_max: var(--font_base_unit) * 13;
	/* 26px */
	--gb_font_size_9_max: var(--font_base_unit) * 16;
	/* 32px */
	--gb_font_size_10_max: var(--font_base_unit) * 20;
	/* 40px */
	--gb_font_size_11_max: var(--font_base_unit) * 24;
	/* 48px */
	--gb_font_size_12_max: var(--font_base_unit) * 30;
	/* 60px */
	--gb_font_size_13_max: var(--font_base_unit) * 34;
	/* 68px */

	// Fluid Font Size
	--gb_font_size_1: clamp(var(--gb_font_size_1_min), 0.599906191369606rem + 0.18761726078799248vw, var(--gb_font_size_1_max));
	--gb_font_size_2: clamp(var(--gb_font_size_2_min), 0.724906191369606rem + 0.18761726078799248vw, var(--gb_font_size_2_max));
	--gb_font_size_3: clamp(var(--gb_font_size_3_min), 0.849624060150376rem + 0.18796992481203006vw, var(--gb_font_size_3_max));
	--gb_font_size_4: clamp(var(--gb_font_size_4_min), 0.974624060150376rem + 0.18796992481203006vw, var(--gb_font_size_4_max));
	--gb_font_size_5: clamp(var(--gb_font_size_5_min), 0.9492481203007519rem + 0.37593984962406013vw, var(--gb_font_size_5_max));
	--gb_font_size_6: clamp(var(--gb_font_size_6_min), 1.074248120300752rem + 0.37593984962406013vw, var(--gb_font_size_6_max));
	--gb_font_size_7: clamp(var(--gb_font_size_7_min), 0.575812274368231rem + 1.444043321299639vw, var(--gb_font_size_7_max));
	--gb_font_size_8: clamp(var(--gb_font_size_8_min), 1.0234962406015038rem + 0.7518796992481203vw, var(--gb_font_size_8_max));
	--gb_font_size_9: clamp(var(--gb_font_size_9_min), 0.15162454873646203rem + 2.888086642599278vw, var(--gb_font_size_9_max));
	--gb_font_size_10: clamp(var(--gb_font_size_10_min), -0.7346570397111916rem + 5.054151624548737vw, var(--gb_font_size_10_max));
	--gb_font_size_11: clamp(var(--gb_font_size_11_min), -1.1588447653429608rem + 6.498194945848376vw, var(--gb_font_size_11_max));
	--gb_font_size_12: clamp(var(--gb_font_size_12_min), 1.49859287054409rem + 2.8142589118198873vw, var(--gb_font_size_12_max));
	--gb_font_size_13: clamp(var(--gb_font_size_13_min), 0.9092960288808665rem + 5.415162454873646vw, var(--gb_font_size_13_max));


	/* -------------------------------------------------
		>> Line Height
	------------------------------------------------- */

	// Base Line Height
	--gb_line_height_base_unit: 0.063rem;

	// Fluid Line Heights
	--line_height_xsmall: calc(var(--gb_line_height_base_unit) * 1);
	--line_height_small: calc(var(--gb_line_height_base_unit) * 1.1);
	--line_height_medium: calc(var(--gb_line_height_base_unit) * 1.3);
	--line_height_large: calc(var(--gb_line_height_base_unit) * 1.4);
	--line_height_xlarge: calc(var(--gb_line_height_base_unit) * 1.5);

	/* -------------------------------------------------
		>> Letter Spacing
	------------------------------------------------- */

	// Base Letter Spacing
	--gb_letter_spacing_base_unit: 1rem;

	// Fluid Letter Spacings
	--letter_spacing_xsmall: calc(var(--gb_letter_spacing_base_unit) * 0);
	--letter_spacing_small: calc(var(--gb_letter_spacing_base_unit) * -0.5);
	--letter_spacing_medium: normal;
	--letter_spacing_large: calc(var(--gb_letter_spacing_base_unit) * 1);
	--letter_spacing_xlarge: calc(var(--gb_letter_spacing_base_unit) * 1.5);


	/* -------------------------------------------------
			>> Border Radius
		------------------------------------------------- */
	--border_radius_small: calc(var(--gb_base_unit) * 1);
	--border_radius_medium: calc(var(--gb_base_unit) * 2);
	--border_radius_large: calc(var(--gb_base_unit) * 2);

	/* -------------------------------------------------
	>> Color variables
	------------------------------------------------- */

	/*
	>> Base Colors
	*/

	// Theme Primary
	--gb_color_primary: #00a4eb;
	--gb_color_on_primary: #ffffff;

	// Theme Secondary
	--gb_color_secondary: #0013ff;

	// Theme Dark
	--gb_black: #000000;
	--gb_black_1: #14191f;
	--gb_black_2: #606364;

	// Theme Light
	--gb_white: #ffffff;
	--gb_white_1: #f1f1f1;
	--gb_white_2: #f1e9e9;

	// Theme Colors

	--gb_gray: #e0e0e0;
	--gb_gray_1: #e6e6e6;
	--gb_gray_2: #eee;
	
	--gb_blue: #0013ff;
	--gb_blue_1: #00a4eb;
	--gb_blue_2: #2ca8dd;
	
	--gb_navy: #091a17;
	--gb_navy_1: #15332e;
	--gb_navy_2: #2f655c;



	--gb_transparent: transparent;

	// Text Variations
	--gb_regular_text: #14191f;
	--gb_dark_text: #14191f;
	--gb_white_text: #f7f7f7;
	--gb_light_text: #606364;


	// --gb_field_bg: #f0f0f0;




	// fixed variable Colors

	--gb_success: #198754;
	--gb_info: #0dcaf0;
	--gb_warning: #ffc107;
	--gb_danger: #dc3545;
	--gb_light: #f8f9fa;
	--gb_dark: #212529;


	--gb_signal: #d14b3c;
	--gb_signal_bg: #fbede9;


	--gb_color_background: #ffffff;
	--gb_color_on_background: #14191f;

	// Borders
	--gb_border: #30353c;
	--gb_border_1: #545454;
	--gb_border_2: #e6e6e6;
	--gb_border_3: #e0e0e0;


	/* -------------------------------------------------
	>> Base Colors
	>> Base colors are used for essential elements
	such as the logo, tables, links, blockquote,
	default buttons styling and this should't conflict
	with theme colors
	------------------------------------------------- */

	// text Colors
	--gb_body_color: var(--gb_color_on_background);
	--gb_body_bg: var(--gb_color_background);
	--gb_text_strong: #1c1e1e;

	--gb_dark_text: var(--gb_black);
	--gb_white_text: var(--gb_white);

	--gb_highlight_color: var(--gb_color_on_primary);
	--gb_highlight_bg: var(--gb_color_primary);

	--gb_caption: #4e52b8;

	// Headings

	--gb_heading_color: inherit;
	--gb_heading_link_color: var(--gb_dark_text);
	--gb_heading_link_color_hover: var(--gb_dark_text);

	// link colors
	--gb_link_color: var(--gb_color_primary);
	--gb_link_color_hover: var(--gb_color_primary);
	--gb_link_border_color: var(--gb_color_primary);
	--gb_link_border_color_hover: transparent;

	// lists Colors
	--gb_list_ul_marker_color: var(--gb_color_primary);
	--gb_list_ol_marker_color: var(--gb_color_primary);


	// Blockquote Colors
	--gb_blockquote_color: var(--gb_regular_text);
	--gb_blockquote_border_color: var(--gb_regular_text);
	--gb_quote_color: var(--gb_regular_text);
	--gb_blockqoute_cite_color: var(--gb_light_text);

	// Tables Colors
	--gb_table_border_color: var(--gb_border);
	--gb_table_head_border_color: var(--gb_dark_text);
	--gb_table_foot_border_color: var(--gb_dark_text);

	// Formating
	--gb_strong_color: var(--gb_regular_text);
	--gb_underline_border_color: var(--gb_regular_text);
	--gb_abbr_border_color: var(--gb_regular_text);
	--gb_delete_color: var(--gb_danger);
	--gb_insert_color: var(--gb_success);
	--gb_insert_border_color: var(--gb_success);

	// Code
	--gb_code_color: var(--gb_white_text);
	--gb_code_bgcolor: var(--gb_dark_text);
	--gb_pre_color: var(--gb_white_text);
	--gb_pre_bgcolor: var(--gb_dark_text);
	--gb_mark_bgcolor: var(--gb_dark_text);
	--gb_mark_color: var(--gb_white_text);

	// Graphical elements
	--gb_hr_color: var(--gb_border);

	// Form Fields

	--gb_input_color: var(--gb_regular_text);
	--gb_input_bg: var(--gb_light_field_bg);
	--gb_input_border_color: var(--gb_border);

	--gb_input_focus_color: #000000;
	--gb_input_focus_bgcolor: #ffffff;
	--gb_input_focus_border_color: var(--gb_dark_border);

	--gb_disabled_input_bgcolor: var(--gb_field_bg);
	--gb_disabled_input_border_color: var(--gb_border_1);

	--gb_placeholder_color: var(--gb_light_text);
	--gb_range_track_bgcolor: var(--gb_field_bg);
	--gb_range_thumb_bgcolor: var(--gb_color_primary);
	--gb_color_field_border_color: var(--gb_border);
	--gb_color_field_bgcolor: var(--gb_field_bg);
	--gb_radio_color: var(--gb_regular_text);
	--gb_radio_border_color: var(--gb_border);
	--gb_radio_bgcolor: var(--gb_field_bg);
	--gb_radio_after_bgcolor: var(--gb_color_primary);
	--gb_checkbox_color: var(--gb_regular_text);
	--gb_checkbox_border_color: var(--gb_border);
	--gb_checkbox_bgcolor: var(--gb_field_bg);
	--gb_checkbox_after_bgcolor: var(--gb_color_primary);
	--gb_progress_bgcolor: var(--gb_field_bg);
	--gb_progress_value_bgcolor: var(--gb_color_primary);
	--gb_meter_bgcolor: var(--gb_field_bg);
	--gb_meter_value_bgcolor: var(--gb_color_primary);

	// Button
	--gb_button_color: var(--gb_white_text);
	--gb_button_bgcolor: var(--gb_color_primary);
	--gb_button_color_hover: var(--gb_dark_text);
	--gb_button_bgcolor_hover: var(--gb_transparent);
	--gb_button_border_color: var(--gb_color_primary);
	--gb_button_border_color_hover: var(--gb_border);

	--gb_reset_button_bgcolor: var(--gb_button_bg_hover);
	--gb_reset_button_color: var(--gb_white_text);

	// Buttons layer
	--gb_theme_btn_color: var(--gb_button_color);
	--gb_theme_btn_bgcolor: var(--gb_button_bgcolor);
	--gb_theme_btn_color_hover: var(--gb_button_color_hover);
	--gb_theme_btn_bgcolor_hover: var(--gb_button_bgcolor_hover);
	--gb_theme_btn_border_color: var(--gb_button_border_color);
	--gb_theme_btn_border_color_hover: var(--gb_button_border_color_hover);

	// --gb_wp_btn_color: var(--gb_white_text);
	// --gb_wp_btn_bgcolor: var(--gb_button_bg);

	// --gb_wp_outline_btn_color: var(--gb_white_text);
	// --gb_wp_outline_btn_border_color: var(--gb_dark_text);
	// --gb_wp_outline_btn_bgcolor: var(--gb_dark_text);

	// Date Picker
	--gb_datepicker_bg_color: var(--gb_border_1);
	--gb_datepicker_select_bgcolor: var(--gb_border_1);
	--gb_datepicker_link_color: var(--gb_white_text);
	--gb_datepicker_calendar: var(--gb_white_text);
	--gb_datepicker_th_bgcolor: var(--gb_border_1);
	--gb_datepicker_even_tr_td_bgcolor: var(--gb_border_1);
	--gb_datepicker_border_color: var(--gb_border_1);
	--gb_datepicker_date_color: var(--gb_dark_text);

	// Errors & Confirmation
	--gb_valiation_error_bg_color: var(--gb_danger_bg);
	--gb_valiation_message_color: var(--gb_danger);
	--gb_error_field_border_color: var(--gb_danger);
	--gb_valiation_error_color: var(--gb_danger);
	--gb_confirmation_message_bgcolor: var(--gb_success_bg);
	--gb_confirmation_message_color: var(--gb_dark_text);
	--gb_confirmation_message_border_color: var(--gb_dark_text);
	--gb_required_text_color: var(--gb_danger);
	--gb_invalid_error_border_color: var(--gb_danger);
	--gb_hubspot_error_label_color: var(--gb_danger);
	--gb_hubspot_required_color: var(--gb_danger);
	--gb_fileupload_rule_color: var(--gb_light_text);
	--gb_error_menu_color: var(--gb_dark_text);

	// Accessibility
	--gb_acc_btn_color: var(--gb_white_text);
	--gb_acc_btn_bgcolor: var(--gb_button_bg);
	--gb_acc_btn_shadow: var(--gb_danger);

	// Comments Box
	--gb_comments_reply_btn_bgcolor: var(--gb_button_bg);
	--gb_comments_reply_btn_color: var(--gb_white_text);
	--gb_comments_reply_btn_bgcolor_hover: var(--gb_button_bg_hover);
	--gb_comments_reply_btn_color_hover: var(--gb_white_text);
	--gb_comment_meta_color: var(--gb_dark_text);
	--gb_comment_metadata_color: var(--gb_light_text);
	--gb_comments_list_border_color: var(--gb_border);
	--gb_widget_comments_meta_color: var(--gb_light_text);

	// Pagination
	--gb_pagination_bgcolor: var(--gb_border_1);
	--gb_pagination_color: var(--gb_dark_text);
	--gb_pagination_color_hover: var(--gb_white_text);
	--gb_pagination_bgcolor_hover: var(--gb_button_bg_hover);
	--gb_pagination_bgcolor_current: var(--gb_button_bg_hover);
	--gb_pagination_color_current: var(--gb_white_text);
	--gb_pagination_first_bgcolor: var(--gb_border_1);
	--gb_pagination_first_color: var(--gb_dark_text);
	--gb_pagination_border: var(--gb_transparent);

	// Widgets
	--gb_widget_latest_post_meta_color: var(--gb_danger);
	--gb_widget_rss_feed_meta_color: var(--gb_danger);
	--gb_widget_search_button_color: var(--gb_pure_black);
	--gb_wp_table_block_stripe_bg_color: var(--gb_pure_white);

	// Breadcrumbs
	--gb_breadcrumb_color: var(--gb_pure_black);
	--gb_breadcrumb_link_color: var(--gb_pure_black);
	--gb_breadcrumb_border_color: transparent;
	--gb_breadcrumb_border_color_hover: var(--gb_pure_black);
	--gb_breadcrumb_span_color: var(--gb_pure_black);

	// Header
	--gb_header_bgcolor: var(--gb_transparent);
	--gb_header_color: var(--gb_black);
	--gb_header_color_hover: var(--gb_black);
	--gb_header_bgcolor_sticky: var(--gb_white);
	--gb_header_nav_border_color: var(--gb_dark_text);

	--gb_header_submenu_bgcolor: var(--gb_header_bgcolor);
	--gb_header_submenu_color: var(--gb_header_color);
	--gb_header_submenu_color_hover: var(--gb_header_color_hover);

	--gb_header_mobile_color: var(--gb_dark_text);
	--gb_header_mobile_submenu_color: var(--gb_dark_text);

	--gb_nav_overlay_bgcolor: var(--gb_border_1);
	--gb_mobile_nav_icon_bgcolor: var(--gb_dark_text);
	--gb_abbr_border: var(--gb_dark_text);

	// Footer
	--gb_footer_bgcolor: var(--gb_dark_text);
	--gb_footer_color: var(--gb_white_text);
	// --gb_footer_color_light: #ffffff;
	// --gb_footer_color_dark: #000000;

	--gb_footer_color_hover: var(--gb_white_text);

	// --gb_f_widget_border_color: var(--gb_white_text);
	--gb_f_nav_color: var(--gb_footer_color);
	--gb_f_nav_color_hover: var(--gb_footer_color_hover);
	--gb_f_nav_border_color: var(--gb_footer_color);
	--gb_f_nav_border_color_hover: var(--gb_footer_color_hover);

	--gb_copyright_color: var(--gb_white_text);
	--gb_legal_nav_color: var(--gb_white_text);
	--gb_legal_nav_border_color: var(--gb_white_text);
	--gb_legal_nav_border_color_hover: var(--gb_white_text);
	--gb_legal_text_color: var(--gb_white_text);




	// style variations

	--gb_style_bg: #821212;
	--gb_style_text: #000000;
	--gb_style_link: #000000;
	--gb_style_button: #00a4eb;
}

// body.dark-mode {
// 	--gb_style_bg: #1b1b1b;
// 	--gb_style_text: #ffffff;
// 	--gb_style_link: #8a0d0d;
// 	--gb_style_button: #8a0d0d;
// 	--wp--preset-_color--primary: #4e4b4b;
// }

// body.light-dark-mode {
// 	--gb_style_bg: #403f3f;
// 	--gb_style_text: #ffffff;
// 	--gb_style_link: #e0e0e0;
// 	--gb_style_button: #a91d1d;
// 	--wp--preset-_color--primary: #797979;
// }

// body.high-contrast-mode {
// 	--gb_style_bg: #000000;
// 	--gb_style_text: #ffffff;
// 	--gb_style_link: #ffffff;
// 	--gb_style_button: #862525;
// 	--wp--preset-_color--primary: #2d2d2d;
// }

// Deisgn Tokens


.primary {
	color: var(--gb_color_on_primary);
	background-color: var(--gb_color_primary);
}

.on-primary {
	color: var(--gb_color_primary);
	background-color: var(--gb_color_on_primary);
}

.primary-container {
	color: var(--gb_color_on_primary-container);
	background-color: var(--gb_color_primary-container);
}

.on-primary-container {
	color: var(--gb_color_primary-container);
	background-color: var(--gb_color_on_primary-container);
}

.secondary {
	color: var(--gb_color_on_secondary);
	background-color: var(--gb_color_secondary);
}

.on-secondary {
	color: var(--gb_color_secondary);
	background-color: var(--gb_color_on_secondary);
}

.secondary-container {
	color: var(--gb_color_on_secondary-container);
	background-color: var(--gb_color_secondary-container);
}

.on-secondary-container {
	color: var(--gb_color_secondary-container);
	background-color: var(--gb_color_on_secondary-container);
}

.tertiary {
	color: var(--gb_color_on_tertiary);
	background-color: var(--gb_color_tertiary);
}

.on-tertiary {
	color: var(--gb_color_tertiary);
	background-color: var(--gb_color_on_tertiary);
}

.tertiary-container {
	color: var(--gb_color_on_tertiary-container);
	background-color: var(--gb_color_tertiary-container);
}

.on-tertiary-container {
	color: var(--gb_color_tertiary-container);
	background-color: var(--gb_color_on_tertiary-container);
}

.background {
	color: var(--gb_color_on_background);
	background-color: var(--gb_color_background);
}

.surface {
	color: var(--gb_color_on_surface);
	background-color: var(--gb_color_surface);
}

.surface-variant {
	color: var(--gb_color_on_surface-variant);
	background-color: var(--gb_color_surface-variant);
}

.on-surface-variant {
	color: var(--gb_color_surface-variant);
	background-color: var(--gb_color_on_surface-variant);
}

.outline {
	border: 1px solid var(--gb_color_outline);
}

.inverse-surface {
	color: var(--gb_color_on_inverse-surface);
	background-color: var(--gb_color_inverse-surface);
}

.on-inverse-surface {
	color: var(--gb_color_inverse-surface);
	background-color: var(--gb_color_on_inverse-surface);
}

.inverse-primary {
	color: var(--gb_color_on_inverse-primary);
	background-color: var(--gb_color_inverse-primary);
}

.on-inverse-primary {
	color: var(--gb_color_inverse-primary);
	background-color: var(--gb_color_on_inverse-primary);
}

.surface-tint {
	background-color: var(--gb_color_on_surface-tint);
}

.error {
	color: var(--gb_color_on_error);
	background-color: var(--gb_color_error);
}

.on-error {
	color: var(--gb_color_error);
	background-color: var(--gb_color_on_error);
}

.error-container {
	color: var(--gb_color_on_error-container);
	background-color: var(--gb_color_error-container);
}

.on-error-container {
	color: var(--gb_color_error-container);
	background-color: var(--gb_color_on_error-container);
}

.black {
	background-color: var(--md-ref-palette-black);
}

.black-text {
	color: var(--md-ref-palette-black);
}

.white {
	background-color: var(--md-ref-palette-white);
}

.white-text {
	color: var(--md-ref-palette-white);
}