@media (min-width: 1024px) {
	.header-nav ul li:hover > ul {
		transform: scaleY(1);
		transition: transform 0.3s ease-in-out;
	}

	.header-nav ul ul {
		transform: scaleY(0);
		will-change: transform;
		transform-origin: 20% top;
	}
}

.header-nav {
	text-align: center;
	line-height: 1;

	ul {
		margin: 0;
		padding: 0;
		position: relative;

		li {
			margin: 0 40px 0 0;
			padding: 0;
			display: inline-block;
			position: relative;
			line-height: 1;

			a,
			a:visited {
				display: inline-block;
				line-height: 1.6;
				border: 0;
				position: relative;
				@include font(st, med);

				color: var(--el_white);

				&:hover {
					color: var(--el_color_secondary);
				}
			}

			&.current-menu-item > a,
			&.current-menu-parent > a,
			a:hover {
				border: 0;
				color: var(--el_color_secondary);
			}

			&.menu-item-has-children {
				> a {
					&::after {
						content: "";
						width: 100%;
						height: 100%;
						position: absolute;
						top: 100%;
						left: 0;
					}
				}

				&:hover {
					> a {
						color: var(--el_color_secondary);
					}
				}
			}

			&.current-menu-parent ul li.current-menu-item {
				> a,
				> a:visited {
					padding-left: 26px;
					&:before {
						content: "";
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						width: 10px;
						height: 10px;
						background-color: var(--el_black_1);
						border-radius: 50%;
						margin: auto;
					}
				}
			}
		}

		ul {
			width: 350px;
			left: -26px;
			padding: 26px 0;
			position: absolute;
			top: calc(100% + 20px);
			z-index: 9;
			text-align: left;
			background-color: var(--el_color_secondary);

			li {
				display: block;
				margin: 0 0 26px;
				padding: 0 26px;

				&:last-child {
					margin: 0;
				}

				a,
				a:visited {
					display: inline-block;
					line-height: 1;
					box-sizing: border-box;
					position: relative;
					@include transition(all, 0.3s, ease-in-out);
					@include font(st, reg);
					color: var(--el_black_1);

					&:hover {
						color: var(--el_black_1);
						padding-left: 10px;
					}
				}
			}

			ul {
				top: -26px;
				left: 230px;

				&::before {
					display: none;
					content: "";
					width: 1px;
					height: 1px;
					position: absolute;
					top: 12px;
					left: -5px;
					margin: auto;
				}
			}
		}
	}
}
