.is-style-el-s2,
.el-s2 {
	height: var(--el_space_2) !important;
}

.is-style-el-s4,
.el-s4 {
	height: var(--el_space_4) !important;
}

.is-style-el-s6,
.el-s6 {
	height: var(--el_space_96) !important;
}

.is-style-el-s8,
.el-s8 {
	height: var(--el_space_8) !important;
}

.is-style-el-s12,
.el-s12,
.s-12 {
	height: var(--el_space_12) !important;
}

.is-style-el-s16,
.el-s16 {
	height: var(--el_space_16) !important;
}

.is-style-el-s20,
.el-s20 {
	height: var(--el_space_20) !important;
}

.is-style-el-s24,
.el-s24,
.s-24 {
	height: var(--el_space_24) !important;
}

.is-style-el-s30,
.el-s30 {
	height: var(--el_space_30) !important;
}

.is-style-el-s32,
.el-s32,
.s-32 {
	height: calc(var(--el_space_30) + 2px) !important;
}

.is-style-el-s36,
.el-s36 {
	height: var(--el_space_36) !important;
}

.is-style-el-s48,
.el-s48,
.s-48 {
	height: var(--el_space_48) !important;
}

.is-style-el-s72,
.el-s72 {
	height: var(--el_space_72) !important;
}

.is-style-el-s96,
.el-s96,
.s-96 {
	height: var(--el_space_96) !important;
}

.is-style-el-s128,
.el-s128,
.s-128 {
	height: var(--el_space_128) !important;
}

.is-style-el-s156,
.el-s156,
.s-156 {
	height: var(--el_space_156) !important;
}

.is-style-el-s200,
.el-s200,
.s-192 {
	height: var(--el_space_200) !important;
}

.is-style-el-s236,
.el-s236 {
	height: var(--el_space_236) !important;
}
