.testi-author-img {
	width: 113px;
	height: 113px;
	margin-right: 24px;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.testi-author-area {
	align-items: center;
}

.author-designation {
	opacity: 0.6;
}

.single-testi {
	max-width: 1055px;

	@include padding(0 0 0 18px);
}

.owl-carousel.testi-ctn {


	.owl-nav {
		text-align: left;
		margin-top: 60px;
		padding-left: 18px;

		button[type="button"] {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			background-repeat: no-repeat;
			background-position: center;
			background-color: map-get($map: $colors, $key: white60);
			margin: 0 10px 0 0;
			transform: rotate(180deg);
			background-image: url(../img/white-long-arrow.svg);
			background-size: 25px;
			opacity: 1 !important;

			&:hover {
				background-color: map-get($map: $colors, $key: white);
			}
		}

		button.owl-next {
			transform: rotate(0deg);
		}
	}

}
