.video-ctn {
	height: 800px;
	position: relative;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;

		@include border-radius(10px);
	}
}

a.video-btn {
	width: 110px;
	height: 110px;

	@include border-radius(50%);

	background-color: map-get( $map: $colors, $key: bwhale );
	background-repeat: no-repeat;
	background-position: left 40px center;
	background-image: url( ../img/play-icon-white.svg );
	background-size: 36px;
	display: block;
	position: absolute;
	inset: 0;
	margin: auto;
	transition: all 0.4s ease-in-out;
	border: 0;

	&:hover {
		transform: scale( 1.15 );
		background-color: map-get( $map: $colors, $key: red );
	}
}

/**
 *
 * Video Close Butto styling
 *
 */

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
	width: 25px;
	height: 25px;
	padding: 0;
	background-color: transparent;
	right: -11px;
	background-image: url( ../img/cross-icon.png );
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
}
